curl_res_sara.json
{"data":[{"updatedAt":"2026-03-17T00:56:09.236Z","createdAt":"2026-03-17T00:12:00.705Z","id":"0VdPv3gtGI2W1Rrj","name":"SUB - Pago Payphone","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"7eac35c0-1dd3-4acc-affd-7647d4a58f7b","name":"IdPago","value":"={{ $json.chat_id_cliente.replace('+','') }}_{{ new Date().getDate() }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,-1200],"id":"f224fedc-bc32-4809-bb45-e551ff6ed4bb","name":"Variables"},{"parameters":{"method":"POST","url":"https://pay.payphonetodoesposible.com/api/Links","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.toJsonString() }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"Respuesta"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1456,-1200],"id":"548d3da9-48d2-4c41-af75-fec8e13c84d5","name":"payphone","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"ThPVsnZeFSwBO6Kx","name":"Payphone TNK"},"httpHeaderAuth":{"id":"TlY3bZ6ils2lMqkK","name":"PayPhone"}}},{"parameters":{"jsCode":"let id_trx = $input.first().json.IdPago;\nlet valor = $('Input').first().json.MontoPago;\nlet referencia = $('Input').first().json.Referencia;\n\nvalor=valor*100;\nid_trx = $input.first().json.IdPago;\n\n\nreturn {\n    amount: valor, \n    amountWithoutTax: valor, \n    clientTransactionId: id_trx,  \n    currency: \"USD\",  \n    storeId: \"5b3febdd-9982-47e0-84b0-cbbcd62ae799\",  \n    reference: (referencia||'Reserva Tinkay')\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,-1200],"id":"eede7003-28e5-44b5-a605-40664261a86c","name":"DatosJson"},{"parameters":{"jsCode":"// 1. Obtener el buffer del dato binario llamado 'Respuesta'\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'Respuesta');\n\n// 2. Convertir a texto UTF-8\nconst text = buffer.toString('utf8');\n\ntry {\n    // 3. Como Payphone devuelve un JSON, lo parseamos\n    const jsonRes = JSON.parse(text);\n    \n    // 4. Extraemos la URL (Payphone suele usar la clave 'payPhoneUri')\n    // Si no es un objeto, usamos el texto directamente\n    const urlFinal = jsonRes.payPhoneUri || text;\n\n    return [{\n        json: {\n            Respuesta: {\n                PayphoneUrl: urlFinal.replace(/[\\\\\"]/g, '').trim(),      \n            }\n        }\n    }];\n} catch (e) {\n    // Si falla el parseo (es texto plano), limpiamos y enviamos\n    return [{\n        json: {\n            Respuesta: {\n                PayphoneUrl: text.replace(/[\\\\\"]/g, '').trim(),\n                ValorTotal: $('Input').first().json.MontoPago || 25,\n                Status: \"Success\"\n            }\n        }\n    }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,-1200],"id":"cb88d53c-889d-44f2-ac06-3b400ee626e3","name":"Code in JavaScript1"},{"parameters":{"workflowInputs":{"values":[{"name":"chat_id_cliente"},{"name":"MontoPago","type":"number"},{"name":"Referencia"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2128,-1200],"id":"ec73a7ae-85b3-4dc8-a56b-200606d98df8","name":"Input"}],"connections":{"Variables":{"main":[[{"node":"DatosJson","type":"main","index":0}]]},"payphone":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"DatosJson":{"main":[[{"node":"payphone","type":"main","index":0}]]},"Input":{"main":[[{"node":"Variables","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Input":[{"json":{"NombreCliente":"Kleber Toapanta","chat_id_cliente":"+12345","MontoPago":"25","Referencia":"Flores"}}]},"versionId":"08edda1c-89ba-4d94-a1a1-e4ee2b7dd340","activeVersionId":"08edda1c-89ba-4d94-a1a1-e4ee2b7dd340","triggerCount":0,"shared":[{"updatedAt":"2026-03-17T00:12:00.708Z","createdAt":"2026-03-17T00:12:00.708Z","role":"workflow:owner","workflowId":"0VdPv3gtGI2W1Rrj","projectId":"Gl0z3DNsbKkj4wmb"}],"activeVersion":{"updatedAt":"2026-03-17T00:56:23.000Z","createdAt":"2026-03-17T00:56:09.237Z","versionId":"08edda1c-89ba-4d94-a1a1-e4ee2b7dd340","workflowId":"0VdPv3gtGI2W1Rrj","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"7eac35c0-1dd3-4acc-affd-7647d4a58f7b","name":"IdPago","value":"={{ $json.chat_id_cliente.replace('+','') }}_{{ new Date().getDate() }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,-1200],"id":"f224fedc-bc32-4809-bb45-e551ff6ed4bb","name":"Variables"},{"parameters":{"method":"POST","url":"https://pay.payphonetodoesposible.com/api/Links","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.toJsonString() }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"Respuesta"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1456,-1200],"id":"548d3da9-48d2-4c41-af75-fec8e13c84d5","name":"payphone","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"ThPVsnZeFSwBO6Kx","name":"Payphone TNK"},"httpHeaderAuth":{"id":"TlY3bZ6ils2lMqkK","name":"PayPhone"}}},{"parameters":{"jsCode":"let id_trx = $input.first().json.IdPago;\nlet valor = $('Input').first().json.MontoPago;\nlet referencia = $('Input').first().json.Referencia;\n\nvalor=valor*100;\nid_trx = $input.first().json.IdPago;\n\n\nreturn {\n    amount: valor, \n    amountWithoutTax: valor, \n    clientTransactionId: id_trx,  \n    currency: \"USD\",  \n    storeId: \"5b3febdd-9982-47e0-84b0-cbbcd62ae799\",  \n    reference: (referencia||'Reserva Tinkay')\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,-1200],"id":"eede7003-28e5-44b5-a605-40664261a86c","name":"DatosJson"},{"parameters":{"jsCode":"// 1. Obtener el buffer del dato binario llamado 'Respuesta'\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'Respuesta');\n\n// 2. Convertir a texto UTF-8\nconst text = buffer.toString('utf8');\n\ntry {\n    // 3. Como Payphone devuelve un JSON, lo parseamos\n    const jsonRes = JSON.parse(text);\n    \n    // 4. Extraemos la URL (Payphone suele usar la clave 'payPhoneUri')\n    // Si no es un objeto, usamos el texto directamente\n    const urlFinal = jsonRes.payPhoneUri || text;\n\n    return [{\n        json: {\n            Respuesta: {\n                PayphoneUrl: urlFinal.replace(/[\\\\\"]/g, '').trim(),      \n            }\n        }\n    }];\n} catch (e) {\n    // Si falla el parseo (es texto plano), limpiamos y enviamos\n    return [{\n        json: {\n            Respuesta: {\n                PayphoneUrl: text.replace(/[\\\\\"]/g, '').trim(),\n                ValorTotal: $('Input').first().json.MontoPago || 25,\n                Status: \"Success\"\n            }\n        }\n    }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,-1200],"id":"cb88d53c-889d-44f2-ac06-3b400ee626e3","name":"Code in JavaScript1"},{"parameters":{"workflowInputs":{"values":[{"name":"chat_id_cliente"},{"name":"MontoPago","type":"number"},{"name":"Referencia"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2128,-1200],"id":"ec73a7ae-85b3-4dc8-a56b-200606d98df8","name":"Input"}],"connections":{"Variables":{"main":[[{"node":"DatosJson","type":"main","index":0}]]},"payphone":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"DatosJson":{"main":[[{"node":"payphone","type":"main","index":0}]]},"Input":{"main":[[{"node":"Variables","type":"main","index":0}]]}},"authors":"Jesus Navarrete","name":"Version 08edda1c","description":"","autosaved":true},"tags":[{"updatedAt":"2025-11-13T15:23:51.811Z","createdAt":"2025-11-13T15:23:51.811Z","id":"PUyk6DasCm41YtPS","name":"Pruebas"}]}],"nextCursor":"eyJsaW1pdCI6MSwib2Zmc2V0IjoxfQ=="}