curl_res.json
{"data":[{"updatedAt":"2026-03-12T18:57:06.365Z","createdAt":"2026-03-11T20:59:58.677Z","id":"0Za43PMvGaR5l8rx","name":"SUB_CrearCasosMCP","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"81bdd98f-52cf-4c36-851f-3c361d0da503","name":"chat_id","value":"={{ $('Input').item.json.chat_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-528],"id":"aa71dcf6-4a60-4d98-9c13-57329fdc8e46","name":"Session_id"},{"parameters":{"assignments":{"assignments":[{"id":"8ca9596e-8028-4d16-9012-20a1edee2f76","name":"email","value":"={{ $('Variables').item.json.Usuario.correo }}","type":"string"},{"id":"9b09cceb-f8aa-43c4-bf84-7bc8d66d2a7e","name":"lastName","value":"={{ $('Variables').item.json.Usuario.apellido }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-528],"id":"b6c42a60-89b7-4059-901e-e33708581dcf","name":"contact"},{"parameters":{"workflowId":{"__rl":true,"value":"fKeeBQyHOdY0eKQl","mode":"list","cachedResultUrl":"/workflow/fKeeBQyHOdY0eKQl","cachedResultName":"SUB_GetVariables"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Input').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[80,-528],"id":"50da8bb5-b214-448c-9a9a-6607bb67b463","name":"Variables"},{"parameters":{"workflowInputs":{"values":[{"name":"departamento"},{"name":"asunto"},{"name":"descripcion"},{"name":"chat_id"},{"name":"prioridad"},{"name":"clasificacion"},{"name":"EstadoFacturacion"},{"name":"area"},{"name":"portal"},{"name":"pais"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-144,-528],"id":"e7bb0333-ea68-49be-8d76-2fc826a42840","name":"Input"},{"parameters":{"jsCode":"// 1. Extraemos los datos apuntando a la estructura correcta del JSON entrante\nconst zoho = $input.first().json.content[0].text;\n\n// 2. Formateamos la prioridad (pasándola a mayúsculas, con 'NORMAL' por defecto si no existe)\nconst prioridad = zoho.priority ? zoho.priority.toUpperCase() : 'NORMAL';\n\n// 3. Retornamos el objeto limpio\nreturn {\n  NumeroDeCasoParaUsuario: `#${zoho.ticketNumber}`,\n  Enlace: zoho.webUrl || \"Enlace no disponible\",\n  // Agregamos el \"subject\" a la alerta para el agente\n  AlertaAgenteHumano: `Nuevo caso creado [Prioridad: ${prioridad}] #${zoho.ticketNumber} - Asunto: ${zoho.subject}`,\n  // Opcional: Puedes agregar un resumen para el log\n  TicketID: zoho.id\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-528],"id":"d1633e05-fdba-4b31-bcda-61dfde1d042b","name":"Result"},{"parameters":{"assignments":{"assignments":[{"id":"02bf2e2c-2e9c-4af4-86b0-800a87dc29cd","name":"departmentId","value":"={{ $('Input').item.json.departamento }}","type":"string"},{"id":"8f6a2c36-5ad9-4926-a82a-7c5178e88253","name":"contactId","value":"={{ $('Variables').item.json.Usuario.ZOHO_contact_id.toString().replace(/[\\[\\]\"]/g, '') }}","type":"string"},{"id":"0fd17fa7-1d16-4ca0-8eab-e8166b56a78e","name":"subject","value":"={{ $('Input').item.json.asunto }}","type":"string"},{"id":"21ef9d77-116a-473b-8d3f-87b066dcf9ea","name":"description","value":"={{ $('Input').item.json.descripcion }}","type":"string"},{"id":"becac88d-83ed-4e2b-9198-014c98645f3a","name":"priority","value":"={{ $('Input').item.json.prioridad }}","type":"string"},{"id":"1f7efbbf-6422-4805-8199-63bb0c34a520","name":"classification","value":"={{ $('Input').item.json.clasificacion }}","type":"string"},{"id":"cf_mapping","name":"cf","value":"={{ ({ \"cf_existe_una_solucion_temporal_disponible_1\":$('Input').item.json.EstadoFacturacion , \"cf_area\": $('Input').item.json.area,  \"cf_portal\":$('Input').item.json.portal,  }) }}","type":"object"},{"id":"80b09f4a-5025-4b22-921a-b3dc87d1a5e8","name":"channel","value":"Chat","type":"string"},{"id":"db56cf25-bead-4cf3-9718-63659e20c64e","name":"status","value":"Abierto","type":"string"}]},"options":{}},"id":"334fb200-6ef7-47ba-a4f8-781fcf6a1895","name":"DatosCaso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,-528]},{"parameters":{"endpointUrl":"=https://n8nsatcom-915613870.zohomcp.com/mcp/message?key={{ $('Variables').item.json.TokenMCP_ZOHO }}","tool":{"__rl":true,"value":"ZohoDesk_createTicket","mode":"list","cachedResultName":"ZohoDesk_createTicket"},"parameters":{"mappingMode":"defineBelow","value":{"query_params":"={{ { \"orgId\": String($('Variables').item.json.Organization_id) } }}","body":"={{ $('DatosCaso').item.json.toJsonString() }}"},"matchingColumns":[],"schema":[{"id":"body","displayName":"body","defaultMatch":false,"required":true,"display":true,"type":"object","defaultValue":"{\n  \"assigneeId\": \"string\",\n  \"category\": \"string\",\n  \"cf\": {},\n  \"channel\": \"string\",\n  \"classification\": \"string\",\n  \"contact\": {\n    \"email\": \"string\",\n    \"lastName\": \"string\"\n  },\n  \"contactId\": \"string\",\n  \"customFields\": {},\n  \"departmentId\": \"string\",\n  \"description\": \"string\",\n  \"dueDate\": \"string\",\n  \"email\": \"string\",\n  \"language\": \"string\",\n  \"phone\": \"string\",\n  \"priority\": \"string\",\n  \"productId\": \"string\",\n  \"status\": \"string\",\n  \"subCategory\": \"string\",\n  \"subject\": \"string\"\n}","removed":false},{"id":"query_params","displayName":"query_params","defaultMatch":false,"required":true,"display":true,"type":"object","defaultValue":"{\n  \"orgId\": \"string\"\n}","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClient","typeVersion":1,"position":[1120,-528],"id":"a45c4e61-424d-41d3-a50a-41ed25ef3112","name":"ZOHO"}],"connections":{"Session_id":{"main":[[{"node":"contact","type":"main","index":0}]]},"contact":{"main":[[{"node":"DatosCaso","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Session_id","type":"main","index":0}]]},"Input":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Result":{"main":[[]]},"DatosCaso":{"main":[[{"node":"ZOHO","type":"main","index":0}]]},"ZOHO":{"main":[[{"node":"Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","timeSavedMode":"fixed","binaryMode":"separate","timeSavedPerExecution":5},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Input":[{"json":{"departamento":"816030000000006907","asunto":"Caída de portal Colombia - Imposibilidad de facturar","descripcion":"El usuario reporta que el portal de Colombia está completamente caído. No permite el acceso y esto está impidiendo la facturación para todos los emisores de Colombia.","chat_id":"1941490810","prioridad":"Crítica","clasificacion":"Incidencia en produccion","EstadoFacturacion":"Sí","area":"N/A","portal":"Colombia","pais":"Colombia"},"pairedItem":{"item":0}}]},"versionId":"ed85069e-5f17-4924-bb0b-62351e1430b8","activeVersionId":"ed85069e-5f17-4924-bb0b-62351e1430b8","triggerCount":0,"shared":[{"updatedAt":"2026-03-11T20:59:58.680Z","createdAt":"2026-03-11T20:59:58.680Z","role":"workflow:owner","workflowId":"0Za43PMvGaR5l8rx","projectId":"9N13GWIvwv2W5yvJ"}],"activeVersion":{"updatedAt":"2026-03-12T18:57:12.000Z","createdAt":"2026-03-12T18:57:06.366Z","versionId":"ed85069e-5f17-4924-bb0b-62351e1430b8","workflowId":"0Za43PMvGaR5l8rx","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"81bdd98f-52cf-4c36-851f-3c361d0da503","name":"chat_id","value":"={{ $('Input').item.json.chat_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-528],"id":"aa71dcf6-4a60-4d98-9c13-57329fdc8e46","name":"Session_id"},{"parameters":{"assignments":{"assignments":[{"id":"8ca9596e-8028-4d16-9012-20a1edee2f76","name":"email","value":"={{ $('Variables').item.json.Usuario.correo }}","type":"string"},{"id":"9b09cceb-f8aa-43c4-bf84-7bc8d66d2a7e","name":"lastName","value":"={{ $('Variables').item.json.Usuario.apellido }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-528],"id":"b6c42a60-89b7-4059-901e-e33708581dcf","name":"contact"},{"parameters":{"workflowId":{"__rl":true,"value":"fKeeBQyHOdY0eKQl","mode":"list","cachedResultUrl":"/workflow/fKeeBQyHOdY0eKQl","cachedResultName":"SUB_GetVariables"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Input').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[80,-528],"id":"50da8bb5-b214-448c-9a9a-6607bb67b463","name":"Variables"},{"parameters":{"workflowInputs":{"values":[{"name":"departamento"},{"name":"asunto"},{"name":"descripcion"},{"name":"chat_id"},{"name":"prioridad"},{"name":"clasificacion"},{"name":"EstadoFacturacion"},{"name":"area"},{"name":"portal"},{"name":"pais"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-144,-528],"id":"e7bb0333-ea68-49be-8d76-2fc826a42840","name":"Input"},{"parameters":{"jsCode":"// 1. Extraemos los datos apuntando a la estructura correcta del JSON entrante\nconst zoho = $input.first().json.content[0].text;\n\n// 2. Formateamos la prioridad (pasándola a mayúsculas, con 'NORMAL' por defecto si no existe)\nconst prioridad = zoho.priority ? zoho.priority.toUpperCase() : 'NORMAL';\n\n// 3. Retornamos el objeto limpio\nreturn {\n  NumeroDeCasoParaUsuario: `#${zoho.ticketNumber}`,\n  Enlace: zoho.webUrl || \"Enlace no disponible\",\n  // Agregamos el \"subject\" a la alerta para el agente\n  AlertaAgenteHumano: `Nuevo caso creado [Prioridad: ${prioridad}] #${zoho.ticketNumber} - Asunto: ${zoho.subject}`,\n  // Opcional: Puedes agregar un resumen para el log\n  TicketID: zoho.id\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-528],"id":"d1633e05-fdba-4b31-bcda-61dfde1d042b","name":"Result"},{"parameters":{"assignments":{"assignments":[{"id":"02bf2e2c-2e9c-4af4-86b0-800a87dc29cd","name":"departmentId","value":"={{ $('Input').item.json.departamento }}","type":"string"},{"id":"8f6a2c36-5ad9-4926-a82a-7c5178e88253","name":"contactId","value":"={{ $('Variables').item.json.Usuario.ZOHO_contact_id.toString().replace(/[\\[\\]\"]/g, '') }}","type":"string"},{"id":"0fd17fa7-1d16-4ca0-8eab-e8166b56a78e","name":"subject","value":"={{ $('Input').item.json.asunto }}","type":"string"},{"id":"21ef9d77-116a-473b-8d3f-87b066dcf9ea","name":"description","value":"={{ $('Input').item.json.descripcion }}","type":"string"},{"id":"becac88d-83ed-4e2b-9198-014c98645f3a","name":"priority","value":"={{ $('Input').item.json.prioridad }}","type":"string"},{"id":"1f7efbbf-6422-4805-8199-63bb0c34a520","name":"classification","value":"={{ $('Input').item.json.clasificacion }}","type":"string"},{"id":"cf_mapping","name":"cf","value":"={{ ({ \"cf_existe_una_solucion_temporal_disponible_1\":$('Input').item.json.EstadoFacturacion , \"cf_area\": $('Input').item.json.area,  \"cf_portal\":$('Input').item.json.portal,  }) }}","type":"object"},{"id":"80b09f4a-5025-4b22-921a-b3dc87d1a5e8","name":"channel","value":"Chat","type":"string"},{"id":"db56cf25-bead-4cf3-9718-63659e20c64e","name":"status","value":"Abierto","type":"string"}]},"options":{}},"id":"334fb200-6ef7-47ba-a4f8-781fcf6a1895","name":"DatosCaso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,-528]},{"parameters":{"endpointUrl":"=https://n8nsatcom-915613870.zohomcp.com/mcp/message?key={{ $('Variables').item.json.TokenMCP_ZOHO }}","tool":{"__rl":true,"value":"ZohoDesk_createTicket","mode":"list","cachedResultName":"ZohoDesk_createTicket"},"parameters":{"mappingMode":"defineBelow","value":{"query_params":"={{ { \"orgId\": String($('Variables').item.json.Organization_id) } }}","body":"={{ $('DatosCaso').item.json.toJsonString() }}"},"matchingColumns":[],"schema":[{"id":"body","displayName":"body","defaultMatch":false,"required":true,"display":true,"type":"object","defaultValue":"{\n  \"assigneeId\": \"string\",\n  \"category\": \"string\",\n  \"cf\": {},\n  \"channel\": \"string\",\n  \"classification\": \"string\",\n  \"contact\": {\n    \"email\": \"string\",\n    \"lastName\": \"string\"\n  },\n  \"contactId\": \"string\",\n  \"customFields\": {},\n  \"departmentId\": \"string\",\n  \"description\": \"string\",\n  \"dueDate\": \"string\",\n  \"email\": \"string\",\n  \"language\": \"string\",\n  \"phone\": \"string\",\n  \"priority\": \"string\",\n  \"productId\": \"string\",\n  \"status\": \"string\",\n  \"subCategory\": \"string\",\n  \"subject\": \"string\"\n}","removed":false},{"id":"query_params","displayName":"query_params","defaultMatch":false,"required":true,"display":true,"type":"object","defaultValue":"{\n  \"orgId\": \"string\"\n}","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClient","typeVersion":1,"position":[1120,-528],"id":"a45c4e61-424d-41d3-a50a-41ed25ef3112","name":"ZOHO"}],"connections":{"Session_id":{"main":[[{"node":"contact","type":"main","index":0}]]},"contact":{"main":[[{"node":"DatosCaso","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Session_id","type":"main","index":0}]]},"Input":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Result":{"main":[[]]},"DatosCaso":{"main":[[{"node":"ZOHO","type":"main","index":0}]]},"ZOHO":{"main":[[{"node":"Result","type":"main","index":0}]]}},"authors":"Satcom  ","name":"Version ed85069e","description":"","autosaved":true},"tags":[]}],"nextCursor":"eyJsaW1pdCI6MSwib2Zmc2V0IjoxfQ=="}