sub_workflow_info.json
{"updatedAt":"2026-04-24T15:12:08.557Z","createdAt":"2026-03-05T10:18:34.717Z","id":"Hpm0RBNKt8SoBJot","name":"SUB_EnviaMensajeUsuario AUTO","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chat_id"},{"name":"MensajeTexto"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1296,-1824],"id":"9bf1d257-2435-425e-8cce-94401d750d86","name":"Input"},{"parameters":{"chatId":"={{ $('Input').item.json.chat_id }}","text":"={{ $json['IA.MensajeAjustado'] }}","additionalFields":{"parse_mode":"HTML"}},"name":"EnvioFormulario","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[720,-1872],"id":"cc8d2c2b-9bd4-4be5-95d7-3a3fd990c80c","webhookId":"b9cf7f77-bee3-4d22-834b-23e32bd09ea7","credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{  \n  \"MensajeAjustado\": [\"Parte 1...\", \"Parte 2...\", \"Parte 3...\", \"Parte 4...\"],\n  \"MensajeOriginal\": \"Texto íntegro recibido\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-368,-1760],"id":"0eb72117-548f-4a96-87a8-52d42fc46444","name":"Structured Output Parser1"},{"parameters":{"workflowId":{"__rl":true,"value":"yvXehCr6WzTL2x1Y","mode":"list","cachedResultUrl":"/workflow/yvXehCr6WzTL2x1Y","cachedResultName":"SUB_UPSERT_CHAT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Input').item.json.chat_id }}","role":"AgenteIA","hora":"={{ $now }}","content":"={{ $('Agente').item.json.output.MensajeAjustado.join() }}"},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[720,-2064],"id":"b21f69ab-0b57-4630-a771-dcbf026a4c36","name":"Call 'SUB_UPSERT_CHAT'"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,-1872],"id":"49f06adf-1cc3-48a0-a163-ba11913f7b98","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1168,-1712],"id":"98df7c94-fd20-43bb-9276-6ac905431c8a"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[944,-1776],"id":"b5f55de0-519f-4f4e-869b-f23543035751","name":"Wait","webhookId":"4a176709-276b-4bdc-ae64-640f1c8d74c9"},{"parameters":{"workflowId":{"__rl":true,"value":"fKeeBQyHOdY0eKQl","mode":"list","cachedResultUrl":"/workflow/fKeeBQyHOdY0eKQl","cachedResultName":"SUB_GetVariables"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-848,-1872],"id":"c347d057-d0c8-4315-a2fe-7e8cf0653db1","name":"Variables"},{"parameters":{"promptType":"define","text":"==DATOS DE LA INTERACCIÓN ACTUAL:\n- Analista: {{ $('Variables').item.json.NomgreAgenteIA }}\n- Usuario : {{ $('Variables').item.json.Usuario.Nombre }}\n- Contenido técnico: {{ $('Input').item.json.MensajeTexto }}\n\nINSTRUCCIÓN DE CIERRE:\nASEGÚRATE DE NO GENERAR MÁS DE 4 MENSAJES EN EL ARRAY \"MensajeAjustado\".","hasOutputParser":true,"options":{"systemMessage":"# ROLE: ESPECIALISTA SENIOR DE MESA DE AYUDA - SATCOMLA\n\nEres el Especialista Senior. Tu función es procesar respuestas técnicas complejas para Telegram.\n\n### REGLAS DE ORO:\n1. **LÍMITE ESTRICTO DE MENSAJES:** El array \"MensajeAjustado\" debe tener como MÍNIMO 2 y como MÁXIMO 4 elementos. Es un límite inamovible.\n2. **SÍNTESIS TÉCNICA:** Si la información original es muy extensa (como manuales largos), DEBES agrupar pasos y resumir explicaciones para que todo el contenido se distribuya en exactamente 4 mensajes o menos.\n5. **INSTRUCCIONES:** Usa viñetas o listas numeradas para que sea legible en móviles.\n\n### FORMATO DE SALIDA (JSON ÚNICAMENTE):\n{  \n  \"MensajeAjustado\": [\"Parte 1...\", \"Parte 2...\", \"Parte 3...\", \"Parte 4...\"],\n  \"MensajeOriginal\": \"Texto íntegro recibido\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-592,-1984],"id":"88b81a49-480c-4b76-935c-a8eabf8c1f3d","name":"Agente","retryOnFail":true,"maxTries":3,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e8c24a6c-2c32-4fb1-a768-0fbe83c94637","name":"IA","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-1872],"id":"d83d8d99-348c-46de-b7e0-7bab5302eb05","name":"DatosIA"},{"parameters":{"fieldToSplitOut":"IA.MensajeAjustado","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[64,-1872],"id":"36c68d57-6148-46bb-a9af-b9d85f1c0117","name":"Split Out"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Input').item.json.chat_id }}"},"id":"cb07a58a-7231-4093-9796-e158635e78d7","name":"Typing…","type":"n8n-nodes-base.telegram","position":[944,-1968],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Input').item.json.chat_id }}"},"id":"04c4e714-ddae-4b2b-81b6-5aa7ae5417ce","name":"Typing…1","type":"n8n-nodes-base.telegram","position":[-1072,-1920],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a657c264-afea-4621-84cc-77f392110987","leftValue":"={{ $('Input').item.json.MensajeTexto.length }}","rightValue":300,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1072,-1728],"id":"7b9dde87-51c3-42be-962d-3273f42f5967","name":"If"},{"parameters":{"chatId":"={{ $('Input').item.json.chat_id }}","text":"={{ $('Input').item.json.MensajeTexto }}","additionalFields":{"parse_mode":"HTML"}},"name":"EnvioFormulario1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-848,-1584],"id":"0bbb3652-90ae-45c2-9a0c-30c262d09d4e","webhookId":"b9cf7f77-bee3-4d22-834b-23e32bd09ea7","credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"yvXehCr6WzTL2x1Y","mode":"list","cachedResultUrl":"/workflow/yvXehCr6WzTL2x1Y","cachedResultName":"SUB_UPSERT_CHAT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Input').item.json.chat_id }}","role":"AgenteIA","hora":"={{ $now }}","content":"={{ $('Input').item.json.MensajeTexto }}"},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-512,-1584],"id":"a267569b-93d2-41d0-9085-f6a48b3ccce4","name":"Call 'SUB_UPSERT_CHAT'1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,-1680],"id":"b470bf91-fdd1-476d-b011-5d774243bb1a","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ZxM0IL5bSh5f0QXK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"projectId":{"__rl":true,"value":"gen-lang-client-0781304366","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[-624,-1760],"id":"ddfae64a-00d0-4b6b-b6ce-001eb94567d4","name":"Google Vertex Chat Model","credentials":{"googleApi":{"id":"P18GpvhBiPpHp3bv","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const text = $json['IA.MensajeAjustado'];\n\nconst html = text\n  // Negrita: **texto** → <b>texto</b>\n  .replace(/\\*\\*(.+?)\\*\\*/gs, '<b>$1</b>')\n  // Cursiva: *texto* o _texto_ → <i>texto</i>\n  .replace(/(?<!\\*)\\*(?!\\*)(.+?)(?<!\\*)\\*(?!\\*)/gs, '<i>$1</i>')\n  .replace(/(?<!_)_(?!_)(.+?)(?<!_)_(?!_)/gs, '<i>$1</i>')\n  // Código inline: `texto` → <code>texto</code>\n  .replace(/`([^`\\n]+)`/g, '<code>$1</code>')\n  // Bloque de código: ```texto``` → <pre>texto</pre>\n  .replace(/```[\\w]*\\n?([\\s\\S]+?)```/g, '<pre>$1</pre>');\n\nreturn { ...$json, 'IA.MensajeAjustado': html };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-1872],"id":"bd723bd4-0a0f-48ca-912a-4e657c1982b8","name":"MarkDownToHTML"}],"connections":{"Input":{"main":[[{"node":"Typing…1","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"EnvioFormulario":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Typing…","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Agente","type":"ai_outputParser","index":0}]]},"Call 'SUB_UPSERT_CHAT'":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"Call 'SUB_UPSERT_CHAT'","type":"main","index":0}],[{"node":"MarkDownToHTML","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Agente","type":"main","index":0}]]},"Agente":{"main":[[{"node":"DatosIA","type":"main","index":0}]]},"DatosIA":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Variables","type":"main","index":0}],[{"node":"EnvioFormulario1","type":"main","index":0}]]},"EnvioFormulario1":{"main":[[{"node":"Call 'SUB_UPSERT_CHAT'1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[]]},"Google Vertex Chat Model":{"ai_languageModel":[[{"node":"Agente","type":"ai_languageModel","index":0}]]},"Typing…1":{"main":[[]]},"MarkDownToHTML":{"main":[[{"node":"EnvioFormulario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Input":[{"json":{"chat_id":"847568917","MensajeTexto":"La información sobre el NIT se encuentra detallada en el Anexo técnico 1.9 de Colombia. Según este documento oficial, el NIT (Número de Identificación Tributaria) es el tipo de identificador fiscal registrado bajo el código 31.\n\nPuedes consultar el detalle completo directamente en nuestra documentación técnica aquí: https://drive.google.com/file/d/1xsYVinDRsf-WT1NHWXFThP5LikL7zrdR/view?usp=drivesdk. ¿Hay algo más en lo que pueda apoyarte hoy?"},"pairedItem":{"item":0}}]},"versionId":"c5d04a79-9415-4704-bad0-442840bbcec2","activeVersionId":"c5d04a79-9415-4704-bad0-442840bbcec2","versionCounter":216,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T10:18:34.719Z","createdAt":"2026-03-05T10:18:34.719Z","role":"workflow:owner","workflowId":"Hpm0RBNKt8SoBJot","projectId":"9N13GWIvwv2W5yvJ","project":{"updatedAt":"2026-01-30T20:35:02.712Z","createdAt":"2026-01-30T20:34:57.663Z","id":"9N13GWIvwv2W5yvJ","name":"Satcom   <satcomla.ti@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0709e413-aacf-4d4e-b6b1-6889c98e6f05"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-24T15:12:13.000Z","createdAt":"2026-04-24T15:12:08.559Z","versionId":"c5d04a79-9415-4704-bad0-442840bbcec2","workflowId":"Hpm0RBNKt8SoBJot","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chat_id"},{"name":"MensajeTexto"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1296,-1824],"id":"9bf1d257-2435-425e-8cce-94401d750d86","name":"Input"},{"parameters":{"chatId":"={{ $('Input').item.json.chat_id }}","text":"={{ $json['IA.MensajeAjustado'] }}","additionalFields":{"parse_mode":"HTML"}},"name":"EnvioFormulario","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[720,-1872],"id":"cc8d2c2b-9bd4-4be5-95d7-3a3fd990c80c","webhookId":"b9cf7f77-bee3-4d22-834b-23e32bd09ea7","credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{  \n  \"MensajeAjustado\": [\"Parte 1...\", \"Parte 2...\", \"Parte 3...\", \"Parte 4...\"],\n  \"MensajeOriginal\": \"Texto íntegro recibido\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-368,-1760],"id":"0eb72117-548f-4a96-87a8-52d42fc46444","name":"Structured Output Parser1"},{"parameters":{"workflowId":{"__rl":true,"value":"yvXehCr6WzTL2x1Y","mode":"list","cachedResultUrl":"/workflow/yvXehCr6WzTL2x1Y","cachedResultName":"SUB_UPSERT_CHAT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Input').item.json.chat_id }}","role":"AgenteIA","hora":"={{ $now }}","content":"={{ $('Agente').item.json.output.MensajeAjustado.join() }}"},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[720,-2064],"id":"b21f69ab-0b57-4630-a771-dcbf026a4c36","name":"Call 'SUB_UPSERT_CHAT'"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,-1872],"id":"49f06adf-1cc3-48a0-a163-ba11913f7b98","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1168,-1712],"id":"98df7c94-fd20-43bb-9276-6ac905431c8a"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[944,-1776],"id":"b5f55de0-519f-4f4e-869b-f23543035751","name":"Wait","webhookId":"4a176709-276b-4bdc-ae64-640f1c8d74c9"},{"parameters":{"workflowId":{"__rl":true,"value":"fKeeBQyHOdY0eKQl","mode":"list","cachedResultUrl":"/workflow/fKeeBQyHOdY0eKQl","cachedResultName":"SUB_GetVariables"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-848,-1872],"id":"c347d057-d0c8-4315-a2fe-7e8cf0653db1","name":"Variables"},{"parameters":{"promptType":"define","text":"==DATOS DE LA INTERACCIÓN ACTUAL:\n- Analista: {{ $('Variables').item.json.NomgreAgenteIA }}\n- Usuario : {{ $('Variables').item.json.Usuario.Nombre }}\n- Contenido técnico: {{ $('Input').item.json.MensajeTexto }}\n\nINSTRUCCIÓN DE CIERRE:\nASEGÚRATE DE NO GENERAR MÁS DE 4 MENSAJES EN EL ARRAY \"MensajeAjustado\".","hasOutputParser":true,"options":{"systemMessage":"# ROLE: ESPECIALISTA SENIOR DE MESA DE AYUDA - SATCOMLA\n\nEres el Especialista Senior. Tu función es procesar respuestas técnicas complejas para Telegram.\n\n### REGLAS DE ORO:\n1. **LÍMITE ESTRICTO DE MENSAJES:** El array \"MensajeAjustado\" debe tener como MÍNIMO 2 y como MÁXIMO 4 elementos. Es un límite inamovible.\n2. **SÍNTESIS TÉCNICA:** Si la información original es muy extensa (como manuales largos), DEBES agrupar pasos y resumir explicaciones para que todo el contenido se distribuya en exactamente 4 mensajes o menos.\n5. **INSTRUCCIONES:** Usa viñetas o listas numeradas para que sea legible en móviles.\n\n### FORMATO DE SALIDA (JSON ÚNICAMENTE):\n{  \n  \"MensajeAjustado\": [\"Parte 1...\", \"Parte 2...\", \"Parte 3...\", \"Parte 4...\"],\n  \"MensajeOriginal\": \"Texto íntegro recibido\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-592,-1984],"id":"88b81a49-480c-4b76-935c-a8eabf8c1f3d","name":"Agente","retryOnFail":true,"maxTries":3,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e8c24a6c-2c32-4fb1-a768-0fbe83c94637","name":"IA","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-1872],"id":"d83d8d99-348c-46de-b7e0-7bab5302eb05","name":"DatosIA"},{"parameters":{"fieldToSplitOut":"IA.MensajeAjustado","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[64,-1872],"id":"36c68d57-6148-46bb-a9af-b9d85f1c0117","name":"Split Out"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Input').item.json.chat_id }}"},"id":"cb07a58a-7231-4093-9796-e158635e78d7","name":"Typing…","type":"n8n-nodes-base.telegram","position":[944,-1968],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Input').item.json.chat_id }}"},"id":"04c4e714-ddae-4b2b-81b6-5aa7ae5417ce","name":"Typing…1","type":"n8n-nodes-base.telegram","position":[-1072,-1920],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a657c264-afea-4621-84cc-77f392110987","leftValue":"={{ $('Input').item.json.MensajeTexto.length }}","rightValue":300,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1072,-1728],"id":"7b9dde87-51c3-42be-962d-3273f42f5967","name":"If"},{"parameters":{"chatId":"={{ $('Input').item.json.chat_id }}","text":"={{ $('Input').item.json.MensajeTexto }}","additionalFields":{"parse_mode":"HTML"}},"name":"EnvioFormulario1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-848,-1584],"id":"0bbb3652-90ae-45c2-9a0c-30c262d09d4e","webhookId":"b9cf7f77-bee3-4d22-834b-23e32bd09ea7","credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"yvXehCr6WzTL2x1Y","mode":"list","cachedResultUrl":"/workflow/yvXehCr6WzTL2x1Y","cachedResultName":"SUB_UPSERT_CHAT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Input').item.json.chat_id }}","role":"AgenteIA","hora":"={{ $now }}","content":"={{ $('Input').item.json.MensajeTexto }}"},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-512,-1584],"id":"a267569b-93d2-41d0-9085-f6a48b3ccce4","name":"Call 'SUB_UPSERT_CHAT'1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,-1680],"id":"b470bf91-fdd1-476d-b011-5d774243bb1a","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ZxM0IL5bSh5f0QXK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"projectId":{"__rl":true,"value":"gen-lang-client-0781304366","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[-624,-1760],"id":"ddfae64a-00d0-4b6b-b6ce-001eb94567d4","name":"Google Vertex Chat Model","credentials":{"googleApi":{"id":"P18GpvhBiPpHp3bv","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const text = $json['IA.MensajeAjustado'];\n\nconst html = text\n  // Negrita: **texto** → <b>texto</b>\n  .replace(/\\*\\*(.+?)\\*\\*/gs, '<b>$1</b>')\n  // Cursiva: *texto* o _texto_ → <i>texto</i>\n  .replace(/(?<!\\*)\\*(?!\\*)(.+?)(?<!\\*)\\*(?!\\*)/gs, '<i>$1</i>')\n  .replace(/(?<!_)_(?!_)(.+?)(?<!_)_(?!_)/gs, '<i>$1</i>')\n  // Código inline: `texto` → <code>texto</code>\n  .replace(/`([^`\\n]+)`/g, '<code>$1</code>')\n  // Bloque de código: ```texto``` → <pre>texto</pre>\n  .replace(/```[\\w]*\\n?([\\s\\S]+?)```/g, '<pre>$1</pre>');\n\nreturn { ...$json, 'IA.MensajeAjustado': html };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-1872],"id":"bd723bd4-0a0f-48ca-912a-4e657c1982b8","name":"MarkDownToHTML"}],"connections":{"Input":{"main":[[{"node":"Typing…1","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"EnvioFormulario":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Typing…","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Agente","type":"ai_outputParser","index":0}]]},"Call 'SUB_UPSERT_CHAT'":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"Call 'SUB_UPSERT_CHAT'","type":"main","index":0}],[{"node":"MarkDownToHTML","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Agente","type":"main","index":0}]]},"Agente":{"main":[[{"node":"DatosIA","type":"main","index":0}]]},"DatosIA":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Variables","type":"main","index":0}],[{"node":"EnvioFormulario1","type":"main","index":0}]]},"EnvioFormulario1":{"main":[[{"node":"Call 'SUB_UPSERT_CHAT'1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[]]},"Google Vertex Chat Model":{"ai_languageModel":[[{"node":"Agente","type":"ai_languageModel","index":0}]]},"Typing…1":{"main":[[]]},"MarkDownToHTML":{"main":[[{"node":"EnvioFormulario","type":"main","index":0}]]}},"authors":"Satcom  ","name":"Version c5d04a79","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-24T15:12:13.706Z","id":1586,"workflowId":"Hpm0RBNKt8SoBJot","versionId":"c5d04a79-9415-4704-bad0-442840bbcec2","event":"activated","userId":"0709e413-aacf-4d4e-b6b1-6889c98e6f05"}]}}