workflow_info.json
{"updatedAt":"2026-04-24T16:33:19.884Z","createdAt":"2026-02-24T04:32:46.285Z","id":"sX1vK56dW_pyFCjJn-0Ll","name":"MAIN_Satcom Bot","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"name":"Input","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-8272,-3424],"id":"41c3a98f-eeef-4438-8da8-64bb2662572d","webhookId":"9a5044fa-1745-4d98-8841-b02f909b63d7","credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5565ba1f-77d7-4365-834e-b3d43ea2d4d2","leftValue":"={{ $('Input').item.json.message.text }}","rightValue":"=/start","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7376,-3328],"id":"5257decf-915a-4f79-9f0e-0f3a5c2e4665","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7152,-3232],"id":"5ffbcd17-e821-4160-94de-3fd1d0de6577","name":"No Operation, do nothing2"},{"parameters":{"workflowId":{"__rl":true,"value":"yvXehCr6WzTL2x1Y","mode":"list","cachedResultUrl":"/workflow/yvXehCr6WzTL2x1Y","cachedResultName":"SUB_UPSERT_CHAT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Var').item.json.chat_id.toString() }}","content":"={{ $('Input').item.json.message.text }}","role":"Usuario","hora":"={{ $now}}"},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-7152,-3424],"id":"307866f4-a3bb-4a2a-9dab-1bfcd456ab68","name":"Call 'SUB_UPSERT_CHAT'2"},{"parameters":{"operation":"executeQuery","query":"select * from get_chat_history_llm($1);","options":{"queryReplacement":"={{ $('Var').item.json.chat_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6480,-3328],"id":"e3b9c03e-d789-4925-aeb1-415217748232","name":"ChatHistory","alwaysOutputData":true,"credentials":{"postgres":{"id":"XwAGusPDaUCYjbK4","name":"Postgres SATCOM"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n    return { historialLectura: \"system: Sin historial previo.\" };\n}\n\nlet historial = \"\";\n\n// 1️⃣ FUNCIÓN PARA FORMATEAR LA HORA (Extraída de message_time)\nconst formatTime = (item) => {\n    const timeStr = item.json.message_time;\n    if (!timeStr) return \"[00:00]\";\n    \n    const d = new Date(timeStr);\n    // Formato [DD/MM HH:mm] para seguimiento de tickets que cruzan días\n    return `[${d.getDate().toString().padStart(2, '0')}/${(d.getMonth() + 1).toString().padStart(2, '0')} ${d.getHours().toString().padStart(2, '0')}:${d.getMinutes().toString().padStart(2, '0')}]`;\n};\n\n// 2️⃣ PRESERVAR MENSAJES DE SISTEMA (DATOS DEL USUARIO/EMPRESA)\nconst mensajesSistema = items.filter(i => \n    (i.json.role || \"\").toLowerCase() === \"system\"\n);\n\nfor (const msg of mensajesSistema) {\n    historial += `SISTEMA ${formatTime(msg)}: ${msg.json.content}\\n`;\n}\n\n// 3️⃣ FILTRO POR REINICIO O BORRADO (Lógica de limpieza)\nlet startIndex = 0;\nfor (let i = items.length - 1; i >= 0; i--) {\n    const texto = (items[i].json.content || \"\").toLowerCase();\n    if (\n        texto.includes(\"reinicio\") ||\n        texto.includes(\"eliminado\") ||\n        texto.includes(\"borrado\") ||\n        texto.includes(\"limpiar chat\")\n    ) {\n        startIndex = i + 1;\n        break;\n    }\n}\n\nlet itemsFiltrados = items.slice(startIndex);\n\n// Eliminar mensajes system del flujo para evitar duplicidad arriba\nitemsFiltrados = itemsFiltrados.filter(i => \n    (i.json.role || \"\").toLowerCase() !== \"system\"\n);\n\n// Limitar a los últimos 30 mensajes para no saturar el contexto del LLM\nconst MAX_MENSAJES = 30;\nconst itemsRecientes = itemsFiltrados.slice(-MAX_MENSAJES);\n\n// 4️⃣ CONSTRUIR HISTORIAL CON ROLES DE MESA DE AYUDA\nfor (const item of itemsRecientes) {\n    const role = (item.json.role || \"assistant\").toLowerCase();\n    const content = item.json.content || \"[mensaje vacío]\";\n    const timeLabel = formatTime(item);\n\n    if (role === \"user\") {\n        historial += `CLIENTE ${timeLabel}: ${content}\\n`;\n    } else {\n        historial += `SOPORTE ${timeLabel}: ${content}\\n`;\n    }\n}\n\n// Fallback por si el historial queda vacío tras los filtros\nif (!historial.trim()) {\n    historial = \"SISTEMA: Chat iniciado. Sin mensajes previos relevantes.\";\n}\n\nreturn {\n    historialLectura: historial.trim()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6256,-3328],"id":"4e4ee330-5f6a-4d6e-bf25-b09a4aeccc20","name":"Historial"},{"parameters":{"description":"Úsala para identificar al usuario mediante su correo. Devuelve el nombre de la empresa y el país del cliente. Es obligatorio informar estos datos al usuario inmediatamente después de obtenerlos para confirmar su identidad.","workflowId":{"__rl":true,"value":"d7M488YEPqkJykW4","mode":"list","cachedResultUrl":"/workflow/d7M488YEPqkJykW4","cachedResultName":"SUB_RegistrarUsuarioaAPI AUTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"correo":"={{ $fromAI('correo', `El correo proporcionado por el usuario`, 'string') }}","chat_id":"={{ $('Var').item.json.chat_id.toString() }}"},"matchingColumns":[],"schema":[{"id":"correo","displayName":"correo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5776,-2960],"id":"846153d4-0326-4f10-b88f-f1edaafc39a2","name":"RegistroUsuario"},{"parameters":{"description":"Úsala para enviar el manual de registro en PDF si el usuario no tiene cuenta o el proceso 'RegistroUsuario' falla.\n","workflowId":{"__rl":true,"value":"9bVZRqmbK7eSdOtj","mode":"list","cachedResultUrl":"/workflow/9bVZRqmbK7eSdOtj","cachedResultName":"SUB_ManualRegistro"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5648,-2960],"id":"f08cdbd0-6504-4c3f-b226-92074b6ee7b4","name":"ManualRegistro"},{"parameters":{"assignments":{"assignments":[{"id":"ac40280c-18aa-4c3d-b112-8beadbffc3b8","name":"chat_id","value":"={{ $('Input').item.json.message.chat.id }}","type":"string"},{"id":"fde3f11a-3c03-4cb8-8260-da4f87977ccd","name":"nombre_temporal","value":"={{ $('Input').item.json.message.from.first_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7600,-3328],"id":"9ebd56c8-9cea-40e4-912b-172290577d7b","name":"Var"},{"parameters":{"description":"Úsala para borrar los datos del usuario. Esta acción es pública y NO requiere identificación previa.","workflowId":{"__rl":true,"value":"VhoZTTXtlY01jHuP","mode":"list","cachedResultUrl":"/workflow/VhoZTTXtlY01jHuP","cachedResultName":"SUB_EliminaUsuario"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id.toString() }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5520,-2960],"id":"b93088d7-be86-4cd4-b72b-e3097c4c1cec","name":"EliminaUsuario"},{"parameters":{"promptType":"define","text":"={{ `DATOS DEL ANALISTA:\n- Eres: ${ $('Get_Variables').item.json.NomgreAgenteIA }\n- Nombre Usuario (Solo primer nombre): ${ $('Get_Variables').item.json.Usuario.Nombre || $('Var').item.json.nombre_temporal }\n- chat_id : $('Get_Variables').item.json.Usuario.chat_id\n\nDATOS DEL USUARIO:\n- Empresa: ${ $('Get_Variables').item.json.Usuario.empresa || \"Desconocida\" }\n- País: ${ $('Get_Variables').item.json.Usuario.accountCountries || \"Desconocido\" }\n\nCONTEXTO DE SEGURIDAD:\n- Estado Actual: ${ $('Historial').item.json.historialLectura.includes(\"⚠️ El usuario necesita registro para vincular sus datos.\") ? \"🔴 RESTRINGIDO\" : \"✅ IDENTIFICADO\" } \n\n\nHISTORIAL RELEVANTE:\n${ $('Historial').item.json.historialLectura }\n\n\nINSTRUCCIÓN: Sé breve y puntual. Si ya saludaste antes en el historial, no vuelvas a saludar. Ve directo a la pregunta o a la solución. Evita introducciones. Máximo 2 oraciones por respuesta.\n\n\n\nSi el usuario solicita un ticket, analiza su descripción: 1) Clasifica el departamento y prioridad según las reglas internas. 2) Verifica si faltan datos específicos como Portales o IDs. 3) Si falta algo, solicítalo. Si está completo, usa la herramienta de creación.\n\n` }}","needsFallback":true,"options":{"systemMessage":"=# ROLE: ESPECIALISTA DE MESA DE AYUDA SATCOMLA\nTu nombre es {{ $('Get_Variables').item.json.NomgreAgenteIA }}. Tono: Muy sencillo, amistoso y resolutivo.\n- OBLIGATORIO: Siempre consulta el RAG al menos que sea creación o consulta de tikets, si el rag no devuelve una respuesta reintenta, interactúa un máximo de 5 veces con el rag para dar la mejor respuesta al cliente.\t\n- **Fecha de hoy:** {{ $now.format('dddd, D [de] MMMM [de] YYYY') }}\n\n## 🚫 REGLAS DE FORMATO Y LENGUAJE (CRÍTICO):\n- PROHIBIDO: No uses negritas (`**`) ni comillas para resaltar términos técnicos. \n- IDIOMA: Habla 100% en español sencillo. No uses términos en inglés. \n- TONO: Evita palabras rebuscadas (ej: no digas \"expedita\", \"oportuna\" o \"proporcionar\"). Habla de forma natural como un compañero (ej: usa \"rápido\", \"darme\", \"ayudarle\"). \n\n\n## 🛡️ PROTOCOLO DE IDENTIFICACIÓN:\n1. BLOQUEO: Si el historial muestra \"⚠️ El usuario necesita registro...\", el acceso está RESTRINGIDO.\n2. ACCIÓN: Primero, saluda con calidez usando **solo el primer nombre** del usuario. Segundo, indica con sencillez que para ver sus datos necesitas que te facilite su correo. Prohibido usar términos en inglés (ej: no digas \"e-mail address\", di \"correo\").No uses frases corporativas. \n3. REGISTRO: Si entregan un correo, usa 'RegistroUsuario'. Si este falla, solicita validar el dato o entrega el manual con 'ManualRegistro'. Si el registro es exitoso, debes confirmar inmediatamente al usuario que ha sido identificado. Ejemplo: '¡Listo! Te he identificado como parte de [Empresa] en [País]. ¿Cómo puedo ayudarte?'. Menciona siempre estos dos datos.\"\n4. Si el usuario indica que no tiene cuenta o no logra registrarse, usa 'ManualRegistro' para enviarle la guía.\t\t\t\t\n\n## 🧠 ASISTENCIA TÉCNICA Y USO DEL RAG\n\nPara CUALQUIER duda, manual, código de error, paso-a-paso, o configuración:\n- ESTÁ ESTRICTAMENTE PROHIBIDO INVENTAR SOLUCIONES o RESPUESTAS.\n- DEBES ejecutar OBLIGATORIAMENTE la herramienta `ConsultaRAG` pasando el texto del usuario y el contexto (historial útil para estructurar la consulta) para buscar en la base de datos oficial.\n\n\n## 📋 PROTOCOLO DE RESPUESTA DE TICKETS:\n\nUna vez que uses ConsultaTicket y recibas la información, tu misión es explicarle al usuario de forma sencilla el estado actual, quién lo tiene asignado y qué pasos faltan.\nNo copies y pegues el JSON, traduce los términos técnicos a lenguaje comprensible.\n\t\t\t\t\n\n## 🌍 REGLAS MULTI-PAÍS PARA CONSULTAS TÉCNICAS:\n1. INFORMACIÓN REQUERIDA: Las consultas sobre impuestos o formatos de integración DEBEN especificar el país del usuario en la pregunta enviada al RAG.\n2. EXCEPCIÓN INFORMACIÓN REQUERIDA: Si las preguntas son relacionadas con el funcionamiento o configuración de EMC, Simphony, Opera el dato del país no es requerido. \n3. EXCEPCIÓN SATCOM: Si el usuario pertece a la empresa \"SERVICIOS Y ASESORIA TECNICA COMERCIAL S.A. SATCOM\" y hace una pregunta tributaria o formatos de integración NO uses la herramienta ConsultaRAG todavía. Primero pregúntale: \"¿Para qué país necesita esta información (Ecuador, Colombia, Panamá, Costa Rica o Bolivia)?\". \n4. EJECUCIÓN: Solo una vez que el país esté claro (ya sea por los datos del usuario o por excepción), llama a 'ConsultaRAG' incluyendo el nombre del país(cuando aplica) en el parámetro 'query'.\n5. Si la consulta al RAG no responde información, la respuesta no tiene sentido, o indica que se presentó un error, el cliente solo debe saber que no dispones de esa información y que estas  o consultando a un especialista para que te ayude con la consulta. Que nos pondremos en contacto lo antes posible.\n\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\n## 🚫 REGLAS DE CONCISIÓN (CRÍTICO):\n1. {{ $('Historial').item.json.historialLectura.includes(\"SOPORTE [\" + $now.format(\"DD/MM\")) ? \"REGLA CRÍTICA: Ya has interactuado con este usuario el día de hoy. Tienes ESTRICTAMENTE PROHIBIDO saludar, decir 'Hola', 'Buenos días' o presentarte. Ve 100% directo a la respuesta.\" : \"REGLA: Esta es tu primera interacción de hoy con el usuario. Salúdalo de forma muy breve y amigable por su primer nombre.\" }}\n2. **CERO RELLENO:** No uses frases como \"Con mucho gusto te ayudaré\", \"Para registrar el ticket correctamente\", ni \"Apenas me pases ese dato\". \n3. **RESPUESTAS MONOBLOQUE:** No expliques el proceso. Si necesitas un dato, pídelo directamente. Ejemplo: \"Por favor, dígame el portal (V5, Colombia o Bolivia).\" y nada más.\n4\n\n## 📢 COMUNICACIÓN FINAL:\n- Tu respuesta se envía directo al cliente. Sé breve, amistoso y directo. NUNCA uses la pregunta o partes de la pregunta en tu respuesta.\n- Cierre: Si es necesario, pregunta  si hay algo más en lo que puedas apoyar de forma variada.\n\t\t\t  \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\n## 🛠️ HERRAMIENTAS TÉCNICAS:\n- 'RegistroUsuario' -> Para identificar al usuario con el correo proporcionado.\n- 'ManualRegistro' -> Cuando no se puedo identificar con RegistroUsuario para que el usuario siga el manual.\n- 'ConsultaRAG' -> Responder preguntas y obtener contexto.\n- 'ConsultaTicket' -> Consultar el estado de un ticket.\n- 'AlertaAgenteHumano' -> Enviar una alerta al agente humano.\n- 'SetEstadoChat' -> Establecer una alerta en el chat, cuando el usuario esta molesto o se crea un ticket de prioridad Alta o Crítica (No requiere respuesta).\n- 'ReiniciaChat' -> Bajo solicitud del usuario (No requiere identificación).\n- 'EliminaUsuario'  -> Bajo solicitud del usuario (No requiere identificación). \nRedacta tu respuesta final tras usarlas.\n\n##CLASIFICACIÓN Y CREACIÓN DE TICKETS\nSi el usuario es empleado de la empresa \"SERVICIOS Y ASESORIA TECNICA COMERCIAL S.A. SATCOM\", usa estas reglas de clasificación automática (la prioridad asignada por defecto es la indicada abajo, a menos que el usuario pida otra explícitamente):\n**A. Departamento: 'Departamento de Soporte' (ID: 816030000000006907)**\n**Ámbito de acción:** Todo lo relacionado a facturación, notas de crédito, problemas de cobro, comprobantes electrónicos no autorizados, uso del portal MySatcom (V5,V6,Colombia,aws,oci,Bolivia), caidas o indicponibilidad de los portales web, apertura de nuevas licencias/cuentas de clientes externos y documentación. Es el punto de contacto para consultas de clientes internos y externos sobre el negocio y sus requerimientos diarios de portal. \n*Reglas de Prioridad*\n- **\"Crítica/Urgente\"**: Solo si el usuario reporta una imposibilidad TOTAL de ingresar facturas en grandes volúmenes, caida o indisponibilida del portal ,una falla masiva en los comprobantes del SRI/DIAN/Hacienda/DGI/SIN (Ente fiscal)  o si el portal mysatcom está completamente caído para el público. Estos casos son de \n- **\"Alta\"**: Si es un requerimiento puntual pero de alto valor comercial, por ejemplo, facturas urgentes de un cliente VIP, notas de crédito grandes atrapadas por error, o problemas de acceso de usuarios administrativos en un cliente importante.\n- **\"Media\"**: (Prioridad por Defecto). Dudas de cómo ingresar una factura, fallos en comprobantes individuales, actualización o modificaciones en licencias comerciales, solicitud de manuales de usuario del portal Mysatcom.\n- **\"Baja\"**: Consultas informativas de facturas de meses pasados, reportes o resúmenes de rutina, sugerencias de cliente sobre la plataforma.\n**Otros datos necesarios:**Antes de usar la herramienta asegurate de contar tambien con : EstadoFacturacion (El incidente esta deteniendo la facturación), Portal/Producto o Aplicacion en la que se presenta el problema y clasificación.\n\n**B. Departamento: 'Departamento de Tecnología' (ID: 816030000001304039)**\n*Reglas de Prioridad*\n- *Prioridad CRÍTICA/URGENTE:* 'Falla de Servidor o Base de Datos inoperativa', 'API o Integración crítica caída para clientes' (pide: portal, más detalles) (opcional: logs,captura de pantalla).\n- *Prioridad ALTA:* 'Falla en reportes mysatcom' (pide: Portal y Nemónico/Empresa), 'No reprocesa automáticamente facturas masivas' (pide: Portal, Nemónico y Ejemplos de ID/Comprobante), 'Error 500 o Bug bloqueante' (pide: URL, portal y pasos a reproducir).\n- *Prioridad MEDIA:* 'Modificar un reporte' (pide: código de reporte y descripción del cambio), 'Lentitud esporádica en portal' (pide: Portal, Nemónico/Empresa, pantalla/proceso).\n**Otros datos necesarios:**Antes de usar la herramienta asegurate de contar tambien con : País, Portal/Producto o Aplicacion en la que se presenta el problema y area (Infraestructura / Desarrollo). \n-Casos para Infraestructura:Descarga masiva de comprobantes, descarga de comprobantes históticos, Extender horario de un ambiente, Encendido/apagado de ambientes o instancias, lentitud inusual en los servidores o portales web, integraciones API caídas, migración de comprobantes, temas relacionados con BDD, fallo en generacion de reportes de mysatcom, incidentes de infraestructura.\n-Casos para desarrollo: Errores de software graves, reportes de bugs , requerimientos de nuevos desarrollos/funcionalidades de programación.\n**C. Departamento: 'Soporte Interno' (ID: 816030000001906033)**\n*Reglas de Prioridad*\n- *Prioridad BAJA:* 'Pruebas de equipos' (pide: descripción de equipos), 'Vacaciones' (pide: fechas correspondientes).\n- *Prioridad MEDIA:* 'Informe para Garantías', 'Configuración de software/instalación' (pide: aplicación o programa), 'Hardware asignado/clientes' o 'Problemas con Laptop' (pide: equipo/empresa y problema exacto), 'Memorias MICROS' (pide: equipo/local), 'Correos' (pide: cuenta afectada y problema exacto), 'Problemas de Acceso / VPN' (pide: usuario afectado).\n- *Prioridad ALTA:* 'Falla general de red interna', 'Reemplazo de equipo urgente' (pide: justificación operativa).\n**D. Otros Departamentos (SOLO ENVÍA LINK):**\n- Si no es posible clasificar el departamento *NO uses la herramienta de CrearCasos*.\n- En este escenario, Responde cordialmente con este único link:\nhttps://satcomla.app.n8n.cloud/form/NewTicket?session_id=1941490810\n\n\t\t\t\t\t\t  \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t   \n\n##🛠️ PROTOCOLO DE EJECUCIÓN (MUY IMPORTANTE)\n1. Analiza el requerimiento inicial del usuario y clasifícalo en uno de los departamentos ('Soporte Interno' o 'Departamento de Tecnología') y asígnale su prioridad correspondiente basándote en las reglas de arriba.\n2. Si el caso es del grupo \"C. Otros Departamentos\", aborta la creación y simplemente entrega el link.\n3. Si faltan datos obligatorios para el departamento seleccionado (Por ejemplo: Portal, ID de comprobante, nombre de equipo, cuenta de correo), *NO crees el ticket todavía*. Realiza preguntas de forma cálida, profesional y amable para recolectar esos datos faltantes.\n4. Únicamente cuando tengas toda la información completa y clara, ejecuta la herramienta CrearCasos para asentar el ticket formalmente en nuestra base, utilizando el Departamento y la Prioridad correcta. Notifica al usuario una vez que el ticket haya sido creado exitosamente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-5472,-3184],"id":"8ca4d0b8-70a8-49f1-805f-0fd72c79b06c","name":"CerebroSatcom","retryOnFail":true,"maxTries":3,"onError":"continueErrorOutput"},{"parameters":{"description":"Úsala para limpiar la conversación. Esta acción es pública y NO requiere identificación previa.","workflowId":{"__rl":true,"value":"Zh9S53e8ybChu3lG","mode":"list","cachedResultUrl":"/workflow/Zh9S53e8ybChu3lG","cachedResultName":"SUB_ReiniciaChat"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id.toString() }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5392,-2960],"id":"04e5ad2e-8e86-4486-9309-03a4b1d35e98","name":"ReiniciaChat"},{"parameters":{"description":"Úsala para obtener el historial y estado técnico de un ticket desde Zoho. Esta herramienta NO envía la respuesta final, solo te entrega los datos. Debes usar la información recibida para redactar una respuesta profesional y detallada al cliente.","workflowId":{"__rl":true,"value":"SLDMCowZXlNTCJUwiRRKM","mode":"list","cachedResultUrl":"/workflow/SLDMCowZXlNTCJUwiRRKM","cachedResultName":"SUB_ConsultaTickets"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id.toString() }}","numero_ticket":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_ticket', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"numero_ticket","displayName":"numero_ticket","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5264,-2960],"id":"8f9fe626-5efe-46ca-ac7f-d28dd326c086","name":"ConsultaTicket"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id.toString() }}"},"id":"2878ac21-497e-4a3f-8948-f3ab4c660d2b","name":"Typing…","type":"n8n-nodes-base.telegram","position":[-8048,-3520],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"fKeeBQyHOdY0eKQl","mode":"list","cachedResultUrl":"/workflow/fKeeBQyHOdY0eKQl","cachedResultName":"SUB_GetVariables"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-6704,-3328],"id":"09f533e5-57b8-4076-a5a2-2d65bf2ce181","name":"Get_Variables"},{"parameters":{"workflowId":{"__rl":true,"value":"Hpm0RBNKt8SoBJot","mode":"list","cachedResultUrl":"/workflow/Hpm0RBNKt8SoBJot","cachedResultName":"SUB_EnviaMensajeUsuario AUTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id }}","MensajeTexto":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"MensajeTexto","displayName":"MensajeTexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-4544,-3088],"id":"c54d18cd-8da2-4914-a20b-f8e212deda79","name":"MensajeUsuario"},{"parameters":{"description":"Úsala para alertar al agente humano cuando no sepas como proceder, no tengas la información solicitada, cuando un usuario nuevo se ha registrado, cuando se haya creado un nuevo ticket , cuando otra herramienta incluya una alerta para el agente humano o el chat deba ser atendido de forma urgente.","workflowId":{"__rl":true,"value":"OfF3NZ8BE2nfAxWA","mode":"list","cachedResultUrl":"/workflow/OfF3NZ8BE2nfAxWA","cachedResultName":"SUB_AlertaAgenteHumano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Get_Variables').item.json.Usuario.chat_id }}","MensajeAgenteHumano":"={{ $fromAI('Mensaje', `El motivo por el cual se alerta al agente hhumano`, 'string') }}","Criticidad":"={{ $fromAI('Criticidad', `Criticidad/Urgencia para el grupo de agentes humanos (Urgente, Alta, Media, Baja, Informativa)`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"MensajeAgenteHumano","displayName":"MensajeAgenteHumano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Criticidad","displayName":"Criticidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5136,-2960],"id":"b13b94c1-f875-47cc-bff9-167a10fcb351","name":"AlertaAgenteHumano"},{"parameters":{"workflowId":{"__rl":true,"value":"xWmYlaMZCtVElaZa","mode":"list","cachedResultUrl":"/workflow/xWmYlaMZCtVElaZa","cachedResultName":"SUB_MultimodalTelegram"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-7824,-3328],"id":"9842cd99-65fc-4b75-a010-798ae600a7c9","name":"Multimodal","onError":"continueRegularOutput"},{"parameters":{"description":"Úsala para establecer el Estado del chat en función a la  urgencia del chat o estado de animo del usuario. Si es Normal no es necesario usarlo. Úsalo solo si es Alerta o Urgencia. ","workflowId":{"__rl":true,"value":"kBhEsrQGq8XipJ7z8W5wV","mode":"list","cachedResultUrl":"/workflow/kBhEsrQGq8XipJ7z8W5wV","cachedResultName":"SUB_SetEstadoChat"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id }}","Estado":"={{ $fromAI('Urgencia', `Estado del chat analiando urgencia del chat o  molestia del usuario`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5008,-2960],"id":"984f83a6-3297-4ac4-a690-78ad3f1fee99","name":"SetEstadoChat"},{"parameters":{"description":"Usa esta herramienta para crear el ticket una vez hayas identificado el departamento (Soporte Interno o Tecnología) y la prioridad (Baja, Media, Alta) basándote en la descripción del usuario y las reglas de negocio. Asegúrate de incluir en el campo descripción todos los datos recolectados (Portales, IDs, Equipos).","workflowId":{"__rl":true,"value":"0Za43PMvGaR5l8rx","mode":"list","cachedResultUrl":"/workflow/0Za43PMvGaR5l8rx","cachedResultName":"SUB_CrearCasosMCP"},"workflowInputs":{"mappingMode":"defineBelow","value":{"departamento":"={{ $fromAI('departamento', `Obten el ID del Departamento `, 'string') }}","asunto":"={{ $fromAI('asunto', `asunto para crear el ticket.`, 'string') }}","descripcion":"={{ $fromAI('descripcion', `descripcion del ticket a crear.`, 'string') }}","chat_id":"={{ $('Get_Variables').item.json.Usuario.chat_id }}","prioridad":"={{ $fromAI('prioridad', `Prioridad por defecto a menos que el usuario indique que es de prioridad alta o urgente.`, 'string') }}","EstadoFacturacion":"={{ $fromAI('EstadoFacturacion', `Está detenida la facturacion en el local?`, 'string') }}","portal":"={{ $fromAI('portal', `Portal/Porducto o aplicación de la cual está reportando el problema.`, 'string') }}","area":"={{ $fromAI('area', `Desarrllo o Infraestructura para el Departamento de Tecnología. Otros departamentos no lo requiren.`, 'string') }}","pais":"={{ $fromAI('pais', `País de la cual está reportando el problema.`, 'string') }}","clasificacion":"={{ $fromAI('clasificacion', `Selecciona entre Analisis,Incidencia en produccion,Pedido de servicio,Pregunta.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"departamento","displayName":"departamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"prioridad","displayName":"prioridad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"clasificacion","displayName":"clasificacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"EstadoFacturacion","displayName":"EstadoFacturacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"area","displayName":"area","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"portal","displayName":"portal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-4880,-2960],"id":"f79befd8-8fe4-4294-ac0e-bd1e9ff7b9ab","name":"CrearCasos"},{"parameters":{"assignments":{"assignments":[{"id":"7465daf5-aa74-4022-a8e8-9a622a34c064","name":"BufferRedis","value":"={{ $('Input').item.json.message.chat.id }}:ControlBuffer","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8048,-3328],"id":"89d845f8-9253-4dd3-aeb2-7aa1020861bb","name":"Control"},{"parameters":{"operation":"delete","key":"={{ $('Control').item.json.BufferRedis }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6928,-3328],"id":"27b585d2-66d9-4b4b-b5f2-e9c1ed3cfeda","name":"Redis","credentials":{"redis":{"id":"EgDvjVvLKVF2RHnv","name":"Redis Web Free"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Input').item.json.message.chat.id }}"},"id":"0f743e0a-38ec-4d58-98fe-7c03c132075a","name":"Typing…1","type":"n8n-nodes-base.telegram","position":[-6928,-3520],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"modelName":"models/gemini-3.1-flash-lite-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,-2960],"id":"9df2bfe0-e216-48a9-aab0-9646229595aa","name":"Google Gemini Chat Model1","retryOnFail":true,"credentials":{"googlePalmApi":{"id":"mMMNu6JhrqIAX7Q7","name":"Vertex"}}},{"parameters":{"projectId":{"__rl":true,"value":"gen-lang-client-0781304366","mode":"id"},"modelName":"gemini-3.1-flash-lite-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[-6032,-2960],"id":"3818759c-67bc-436e-b6e9-b046da9b9806","name":"Google Vertex Chat Model","credentials":{"googleApi":{"id":"P18GpvhBiPpHp3bv","name":"Google Service Account account"}}},{"parameters":{"toolDescription":"Fuente de verdad técnica para toda conversación.\n\nContexto: Si la pregunta es un seguimiento (ej: '¿Cómo lo arreglo?'), DEBES reescribirla integrando el tema previo (ej: '¿Cómo arreglo el error 500 en portal V5?').\nPaís: DEBES incluir siempre el país del usuario en la pregunta (Ecuador, Colombia, etc.).\nSATCOM: Si el usuario es de la empresa SATCOM, asegúrate de haberle preguntado el país antes si no lo especificó.","method":"POST","url":"https://satcomla.app.n8n.cloud/webhook/rag-query5","sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Pregunta que se realiza a la base vectorial`, 'string') }}"},{"name":"user_name","value":"={{ $('Input').item.json.message.chat.id }}"},{"name":"base","value":"publica"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-4752,-2960],"id":"b25394ae-3dd5-475a-8d29-30a3a3e83b31","name":"ConsultaRAG"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Input').item.json.message.chat.id }}"},"id":"575d0e0b-75e3-4b61-9570-622ec344e6c1","name":"Typing…2","type":"n8n-nodes-base.telegram","position":[-5408,-3472],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"description":"OBLIGATORIO: Úsala EXCLUSIVAMENTE UNA VEZ al inicio de tu turno y EXTRICTAMENTE PARA ENVIAR UN MENSAJE DE PRIMERA RESPUESTA ANTES DE TU RESPUESTA FINAL al usuario. Tienes ESTRICTAMENTE PROHIBIDO ejecutar esta herramienta más de una vez por interacción. Una vez que la uses, avanza inmediatamente a tu siguiente paso lógico (como ConsultaRAG o ConsultaTicket) sin volver a llamarla.","workflowId":{"__rl":true,"value":"Hpm0RBNKt8SoBJot","mode":"list","cachedResultUrl":"/workflow/Hpm0RBNKt8SoBJot","cachedResultName":"SUB_EnviaMensajeUsuario AUTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Input').item.json.message.chat.id }}","MensajeTexto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('MensajeTexto', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"MensajeTexto","displayName":"MensajeTexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-8272,-2624],"id":"40a0097b-920f-4b2d-bcec-4d4c5a118f82","name":"PrimeraRespuesta"},{"parameters":{"method":"POST","url":"https://sara.mysatcomla.com/n8n/webhook/log-ai-usage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"execution_id\": \"{{ $execution.id }}\",\n  \"workflow_id\":  \"{{ $workflow.id }}\",\n  \"source\":       \"n8n:MAIN\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4544,-3280],"id":"95d38ad2-c2c9-48f7-998c-64b64c4ab484","name":"HTTP Request","onError":"continueRegularOutput"}],"connections":{"Input":{"main":[[{"node":"Control","type":"main","index":0},{"node":"Typing…","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'SUB_UPSERT_CHAT'2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"ChatHistory":{"main":[[{"node":"Historial","type":"main","index":0}]]},"Historial":{"main":[[{"node":"CerebroSatcom","type":"main","index":0},{"node":"Typing…2","type":"main","index":0}]]},"Call 'SUB_UPSERT_CHAT'2":{"main":[[{"node":"Typing…1","type":"main","index":0},{"node":"Redis","type":"main","index":0}]]},"RegistroUsuario":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"ManualRegistro":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"Var":{"main":[[{"node":"If1","type":"main","index":0}]]},"EliminaUsuario":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"CerebroSatcom":{"main":[[{"node":"MensajeUsuario","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"ReiniciaChat":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"ConsultaTicket":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"Get_Variables":{"main":[[{"node":"ChatHistory","type":"main","index":0}]]},"AlertaAgenteHumano":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"Multimodal":{"main":[[{"node":"Var","type":"main","index":0}]]},"SetEstadoChat":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"CrearCasos":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"Control":{"main":[[{"node":"Multimodal","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Get_Variables","type":"main","index":0}]]},"Typing…1":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"CerebroSatcom","type":"ai_languageModel","index":1}]]},"Google Vertex Chat Model":{"ai_languageModel":[[{"node":"CerebroSatcom","type":"ai_languageModel","index":0}]]},"ConsultaRAG":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"PrimeraRespuesta":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Input":[{"json":{"update_id":45780529,"message":{"message_id":4440,"from":{"id":2093763598,"is_bot":false,"first_name":"Cristian","last_name":"Torres","language_code":"es"},"chat":{"id":2093763598,"first_name":"Cristian","last_name":"Torres","type":"private"},"date":1776735517,"text":"Quien está de standby"}},"pairedItem":{"item":0}}]},"versionId":"e7a8762e-96a6-44c8-a535-1b8fb1ad1c4a","activeVersionId":"e7a8762e-96a6-44c8-a535-1b8fb1ad1c4a","versionCounter":3349,"triggerCount":1,"shared":[{"updatedAt":"2026-02-24T04:32:46.288Z","createdAt":"2026-02-24T04:32:46.288Z","role":"workflow:owner","workflowId":"sX1vK56dW_pyFCjJn-0Ll","projectId":"9N13GWIvwv2W5yvJ","project":{"updatedAt":"2026-01-30T20:35:02.712Z","createdAt":"2026-01-30T20:34:57.663Z","id":"9N13GWIvwv2W5yvJ","name":"Satcom   <satcomla.ti@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0709e413-aacf-4d4e-b6b1-6889c98e6f05"}}],"tags":[{"updatedAt":"2026-04-10T13:41:20.851Z","createdAt":"2026-04-10T13:41:20.851Z","id":"hbQX6ioLETKYfotD","name":"Bot"}],"activeVersion":{"updatedAt":"2026-04-24T16:33:31.000Z","createdAt":"2026-04-24T16:33:19.886Z","versionId":"e7a8762e-96a6-44c8-a535-1b8fb1ad1c4a","workflowId":"sX1vK56dW_pyFCjJn-0Ll","nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"name":"Input","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-8272,-3424],"id":"41c3a98f-eeef-4438-8da8-64bb2662572d","webhookId":"9a5044fa-1745-4d98-8841-b02f909b63d7","credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5565ba1f-77d7-4365-834e-b3d43ea2d4d2","leftValue":"={{ $('Input').item.json.message.text }}","rightValue":"=/start","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7376,-3328],"id":"5257decf-915a-4f79-9f0e-0f3a5c2e4665","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7152,-3232],"id":"5ffbcd17-e821-4160-94de-3fd1d0de6577","name":"No Operation, do nothing2"},{"parameters":{"workflowId":{"__rl":true,"value":"yvXehCr6WzTL2x1Y","mode":"list","cachedResultUrl":"/workflow/yvXehCr6WzTL2x1Y","cachedResultName":"SUB_UPSERT_CHAT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Var').item.json.chat_id.toString() }}","content":"={{ $('Input').item.json.message.text }}","role":"Usuario","hora":"={{ $now}}"},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-7152,-3424],"id":"307866f4-a3bb-4a2a-9dab-1bfcd456ab68","name":"Call 'SUB_UPSERT_CHAT'2"},{"parameters":{"operation":"executeQuery","query":"select * from get_chat_history_llm($1);","options":{"queryReplacement":"={{ $('Var').item.json.chat_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6480,-3328],"id":"e3b9c03e-d789-4925-aeb1-415217748232","name":"ChatHistory","alwaysOutputData":true,"credentials":{"postgres":{"id":"XwAGusPDaUCYjbK4","name":"Postgres SATCOM"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n    return { historialLectura: \"system: Sin historial previo.\" };\n}\n\nlet historial = \"\";\n\n// 1️⃣ FUNCIÓN PARA FORMATEAR LA HORA (Extraída de message_time)\nconst formatTime = (item) => {\n    const timeStr = item.json.message_time;\n    if (!timeStr) return \"[00:00]\";\n    \n    const d = new Date(timeStr);\n    // Formato [DD/MM HH:mm] para seguimiento de tickets que cruzan días\n    return `[${d.getDate().toString().padStart(2, '0')}/${(d.getMonth() + 1).toString().padStart(2, '0')} ${d.getHours().toString().padStart(2, '0')}:${d.getMinutes().toString().padStart(2, '0')}]`;\n};\n\n// 2️⃣ PRESERVAR MENSAJES DE SISTEMA (DATOS DEL USUARIO/EMPRESA)\nconst mensajesSistema = items.filter(i => \n    (i.json.role || \"\").toLowerCase() === \"system\"\n);\n\nfor (const msg of mensajesSistema) {\n    historial += `SISTEMA ${formatTime(msg)}: ${msg.json.content}\\n`;\n}\n\n// 3️⃣ FILTRO POR REINICIO O BORRADO (Lógica de limpieza)\nlet startIndex = 0;\nfor (let i = items.length - 1; i >= 0; i--) {\n    const texto = (items[i].json.content || \"\").toLowerCase();\n    if (\n        texto.includes(\"reinicio\") ||\n        texto.includes(\"eliminado\") ||\n        texto.includes(\"borrado\") ||\n        texto.includes(\"limpiar chat\")\n    ) {\n        startIndex = i + 1;\n        break;\n    }\n}\n\nlet itemsFiltrados = items.slice(startIndex);\n\n// Eliminar mensajes system del flujo para evitar duplicidad arriba\nitemsFiltrados = itemsFiltrados.filter(i => \n    (i.json.role || \"\").toLowerCase() !== \"system\"\n);\n\n// Limitar a los últimos 30 mensajes para no saturar el contexto del LLM\nconst MAX_MENSAJES = 30;\nconst itemsRecientes = itemsFiltrados.slice(-MAX_MENSAJES);\n\n// 4️⃣ CONSTRUIR HISTORIAL CON ROLES DE MESA DE AYUDA\nfor (const item of itemsRecientes) {\n    const role = (item.json.role || \"assistant\").toLowerCase();\n    const content = item.json.content || \"[mensaje vacío]\";\n    const timeLabel = formatTime(item);\n\n    if (role === \"user\") {\n        historial += `CLIENTE ${timeLabel}: ${content}\\n`;\n    } else {\n        historial += `SOPORTE ${timeLabel}: ${content}\\n`;\n    }\n}\n\n// Fallback por si el historial queda vacío tras los filtros\nif (!historial.trim()) {\n    historial = \"SISTEMA: Chat iniciado. Sin mensajes previos relevantes.\";\n}\n\nreturn {\n    historialLectura: historial.trim()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6256,-3328],"id":"4e4ee330-5f6a-4d6e-bf25-b09a4aeccc20","name":"Historial"},{"parameters":{"description":"Úsala para identificar al usuario mediante su correo. Devuelve el nombre de la empresa y el país del cliente. Es obligatorio informar estos datos al usuario inmediatamente después de obtenerlos para confirmar su identidad.","workflowId":{"__rl":true,"value":"d7M488YEPqkJykW4","mode":"list","cachedResultUrl":"/workflow/d7M488YEPqkJykW4","cachedResultName":"SUB_RegistrarUsuarioaAPI AUTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"correo":"={{ $fromAI('correo', `El correo proporcionado por el usuario`, 'string') }}","chat_id":"={{ $('Var').item.json.chat_id.toString() }}"},"matchingColumns":[],"schema":[{"id":"correo","displayName":"correo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5776,-2960],"id":"846153d4-0326-4f10-b88f-f1edaafc39a2","name":"RegistroUsuario"},{"parameters":{"description":"Úsala para enviar el manual de registro en PDF si el usuario no tiene cuenta o el proceso 'RegistroUsuario' falla.\n","workflowId":{"__rl":true,"value":"9bVZRqmbK7eSdOtj","mode":"list","cachedResultUrl":"/workflow/9bVZRqmbK7eSdOtj","cachedResultName":"SUB_ManualRegistro"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5648,-2960],"id":"f08cdbd0-6504-4c3f-b226-92074b6ee7b4","name":"ManualRegistro"},{"parameters":{"assignments":{"assignments":[{"id":"ac40280c-18aa-4c3d-b112-8beadbffc3b8","name":"chat_id","value":"={{ $('Input').item.json.message.chat.id }}","type":"string"},{"id":"fde3f11a-3c03-4cb8-8260-da4f87977ccd","name":"nombre_temporal","value":"={{ $('Input').item.json.message.from.first_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7600,-3328],"id":"9ebd56c8-9cea-40e4-912b-172290577d7b","name":"Var"},{"parameters":{"description":"Úsala para borrar los datos del usuario. Esta acción es pública y NO requiere identificación previa.","workflowId":{"__rl":true,"value":"VhoZTTXtlY01jHuP","mode":"list","cachedResultUrl":"/workflow/VhoZTTXtlY01jHuP","cachedResultName":"SUB_EliminaUsuario"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id.toString() }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5520,-2960],"id":"b93088d7-be86-4cd4-b72b-e3097c4c1cec","name":"EliminaUsuario"},{"parameters":{"promptType":"define","text":"={{ `DATOS DEL ANALISTA:\n- Eres: ${ $('Get_Variables').item.json.NomgreAgenteIA }\n- Nombre Usuario (Solo primer nombre): ${ $('Get_Variables').item.json.Usuario.Nombre || $('Var').item.json.nombre_temporal }\n- chat_id : $('Get_Variables').item.json.Usuario.chat_id\n\nDATOS DEL USUARIO:\n- Empresa: ${ $('Get_Variables').item.json.Usuario.empresa || \"Desconocida\" }\n- País: ${ $('Get_Variables').item.json.Usuario.accountCountries || \"Desconocido\" }\n\nCONTEXTO DE SEGURIDAD:\n- Estado Actual: ${ $('Historial').item.json.historialLectura.includes(\"⚠️ El usuario necesita registro para vincular sus datos.\") ? \"🔴 RESTRINGIDO\" : \"✅ IDENTIFICADO\" } \n\n\nHISTORIAL RELEVANTE:\n${ $('Historial').item.json.historialLectura }\n\n\nINSTRUCCIÓN: Sé breve y puntual. Si ya saludaste antes en el historial, no vuelvas a saludar. Ve directo a la pregunta o a la solución. Evita introducciones. Máximo 2 oraciones por respuesta.\n\n\n\nSi el usuario solicita un ticket, analiza su descripción: 1) Clasifica el departamento y prioridad según las reglas internas. 2) Verifica si faltan datos específicos como Portales o IDs. 3) Si falta algo, solicítalo. Si está completo, usa la herramienta de creación.\n\n` }}","needsFallback":true,"options":{"systemMessage":"=# ROLE: ESPECIALISTA DE MESA DE AYUDA SATCOMLA\nTu nombre es {{ $('Get_Variables').item.json.NomgreAgenteIA }}. Tono: Muy sencillo, amistoso y resolutivo.\n- OBLIGATORIO: Siempre consulta el RAG al menos que sea creación o consulta de tikets, si el rag no devuelve una respuesta reintenta, interactúa un máximo de 5 veces con el rag para dar la mejor respuesta al cliente.\t\n- **Fecha de hoy:** {{ $now.format('dddd, D [de] MMMM [de] YYYY') }}\n\n## 🚫 REGLAS DE FORMATO Y LENGUAJE (CRÍTICO):\n- PROHIBIDO: No uses negritas (`**`) ni comillas para resaltar términos técnicos. \n- IDIOMA: Habla 100% en español sencillo. No uses términos en inglés. \n- TONO: Evita palabras rebuscadas (ej: no digas \"expedita\", \"oportuna\" o \"proporcionar\"). Habla de forma natural como un compañero (ej: usa \"rápido\", \"darme\", \"ayudarle\"). \n\n\n## 🛡️ PROTOCOLO DE IDENTIFICACIÓN:\n1. BLOQUEO: Si el historial muestra \"⚠️ El usuario necesita registro...\", el acceso está RESTRINGIDO.\n2. ACCIÓN: Primero, saluda con calidez usando **solo el primer nombre** del usuario. Segundo, indica con sencillez que para ver sus datos necesitas que te facilite su correo. Prohibido usar términos en inglés (ej: no digas \"e-mail address\", di \"correo\").No uses frases corporativas. \n3. REGISTRO: Si entregan un correo, usa 'RegistroUsuario'. Si este falla, solicita validar el dato o entrega el manual con 'ManualRegistro'. Si el registro es exitoso, debes confirmar inmediatamente al usuario que ha sido identificado. Ejemplo: '¡Listo! Te he identificado como parte de [Empresa] en [País]. ¿Cómo puedo ayudarte?'. Menciona siempre estos dos datos.\"\n4. Si el usuario indica que no tiene cuenta o no logra registrarse, usa 'ManualRegistro' para enviarle la guía.\t\t\t\t\n\n## 🧠 ASISTENCIA TÉCNICA Y USO DEL RAG\n\nPara CUALQUIER duda, manual, código de error, paso-a-paso, o configuración:\n- ESTÁ ESTRICTAMENTE PROHIBIDO INVENTAR SOLUCIONES o RESPUESTAS.\n- DEBES ejecutar OBLIGATORIAMENTE la herramienta `ConsultaRAG` pasando el texto del usuario y el contexto (historial útil para estructurar la consulta) para buscar en la base de datos oficial.\n\n\n## 📋 PROTOCOLO DE RESPUESTA DE TICKETS:\n\nUna vez que uses ConsultaTicket y recibas la información, tu misión es explicarle al usuario de forma sencilla el estado actual, quién lo tiene asignado y qué pasos faltan.\nNo copies y pegues el JSON, traduce los términos técnicos a lenguaje comprensible.\n\t\t\t\t\n\n## 🌍 REGLAS MULTI-PAÍS PARA CONSULTAS TÉCNICAS:\n1. INFORMACIÓN REQUERIDA: Las consultas sobre impuestos o formatos de integración DEBEN especificar el país del usuario en la pregunta enviada al RAG.\n2. EXCEPCIÓN INFORMACIÓN REQUERIDA: Si las preguntas son relacionadas con el funcionamiento o configuración de EMC, Simphony, Opera el dato del país no es requerido. \n3. EXCEPCIÓN SATCOM: Si el usuario pertece a la empresa \"SERVICIOS Y ASESORIA TECNICA COMERCIAL S.A. SATCOM\" y hace una pregunta tributaria o formatos de integración NO uses la herramienta ConsultaRAG todavía. Primero pregúntale: \"¿Para qué país necesita esta información (Ecuador, Colombia, Panamá, Costa Rica o Bolivia)?\". \n4. EJECUCIÓN: Solo una vez que el país esté claro (ya sea por los datos del usuario o por excepción), llama a 'ConsultaRAG' incluyendo el nombre del país(cuando aplica) en el parámetro 'query'.\n5. Si la consulta al RAG no responde información, la respuesta no tiene sentido, o indica que se presentó un error, el cliente solo debe saber que no dispones de esa información y que estas  o consultando a un especialista para que te ayude con la consulta. Que nos pondremos en contacto lo antes posible.\n\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\n## 🚫 REGLAS DE CONCISIÓN (CRÍTICO):\n1. {{ $('Historial').item.json.historialLectura.includes(\"SOPORTE [\" + $now.format(\"DD/MM\")) ? \"REGLA CRÍTICA: Ya has interactuado con este usuario el día de hoy. Tienes ESTRICTAMENTE PROHIBIDO saludar, decir 'Hola', 'Buenos días' o presentarte. Ve 100% directo a la respuesta.\" : \"REGLA: Esta es tu primera interacción de hoy con el usuario. Salúdalo de forma muy breve y amigable por su primer nombre.\" }}\n2. **CERO RELLENO:** No uses frases como \"Con mucho gusto te ayudaré\", \"Para registrar el ticket correctamente\", ni \"Apenas me pases ese dato\". \n3. **RESPUESTAS MONOBLOQUE:** No expliques el proceso. Si necesitas un dato, pídelo directamente. Ejemplo: \"Por favor, dígame el portal (V5, Colombia o Bolivia).\" y nada más.\n4\n\n## 📢 COMUNICACIÓN FINAL:\n- Tu respuesta se envía directo al cliente. Sé breve, amistoso y directo. NUNCA uses la pregunta o partes de la pregunta en tu respuesta.\n- Cierre: Si es necesario, pregunta  si hay algo más en lo que puedas apoyar de forma variada.\n\t\t\t  \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\n## 🛠️ HERRAMIENTAS TÉCNICAS:\n- 'RegistroUsuario' -> Para identificar al usuario con el correo proporcionado.\n- 'ManualRegistro' -> Cuando no se puedo identificar con RegistroUsuario para que el usuario siga el manual.\n- 'ConsultaRAG' -> Responder preguntas y obtener contexto.\n- 'ConsultaTicket' -> Consultar el estado de un ticket.\n- 'AlertaAgenteHumano' -> Enviar una alerta al agente humano.\n- 'SetEstadoChat' -> Establecer una alerta en el chat, cuando el usuario esta molesto o se crea un ticket de prioridad Alta o Crítica (No requiere respuesta).\n- 'ReiniciaChat' -> Bajo solicitud del usuario (No requiere identificación).\n- 'EliminaUsuario'  -> Bajo solicitud del usuario (No requiere identificación). \nRedacta tu respuesta final tras usarlas.\n\n##CLASIFICACIÓN Y CREACIÓN DE TICKETS\nSi el usuario es empleado de la empresa \"SERVICIOS Y ASESORIA TECNICA COMERCIAL S.A. SATCOM\", usa estas reglas de clasificación automática (la prioridad asignada por defecto es la indicada abajo, a menos que el usuario pida otra explícitamente):\n**A. Departamento: 'Departamento de Soporte' (ID: 816030000000006907)**\n**Ámbito de acción:** Todo lo relacionado a facturación, notas de crédito, problemas de cobro, comprobantes electrónicos no autorizados, uso del portal MySatcom (V5,V6,Colombia,aws,oci,Bolivia), caidas o indicponibilidad de los portales web, apertura de nuevas licencias/cuentas de clientes externos y documentación. Es el punto de contacto para consultas de clientes internos y externos sobre el negocio y sus requerimientos diarios de portal. \n*Reglas de Prioridad*\n- **\"Crítica/Urgente\"**: Solo si el usuario reporta una imposibilidad TOTAL de ingresar facturas en grandes volúmenes, caida o indisponibilida del portal ,una falla masiva en los comprobantes del SRI/DIAN/Hacienda/DGI/SIN (Ente fiscal)  o si el portal mysatcom está completamente caído para el público. Estos casos son de \n- **\"Alta\"**: Si es un requerimiento puntual pero de alto valor comercial, por ejemplo, facturas urgentes de un cliente VIP, notas de crédito grandes atrapadas por error, o problemas de acceso de usuarios administrativos en un cliente importante.\n- **\"Media\"**: (Prioridad por Defecto). Dudas de cómo ingresar una factura, fallos en comprobantes individuales, actualización o modificaciones en licencias comerciales, solicitud de manuales de usuario del portal Mysatcom.\n- **\"Baja\"**: Consultas informativas de facturas de meses pasados, reportes o resúmenes de rutina, sugerencias de cliente sobre la plataforma.\n**Otros datos necesarios:**Antes de usar la herramienta asegurate de contar tambien con : EstadoFacturacion (El incidente esta deteniendo la facturación), Portal/Producto o Aplicacion en la que se presenta el problema y clasificación.\n\n**B. Departamento: 'Departamento de Tecnología' (ID: 816030000001304039)**\n*Reglas de Prioridad*\n- *Prioridad CRÍTICA/URGENTE:* 'Falla de Servidor o Base de Datos inoperativa', 'API o Integración crítica caída para clientes' (pide: portal, más detalles) (opcional: logs,captura de pantalla).\n- *Prioridad ALTA:* 'Falla en reportes mysatcom' (pide: Portal y Nemónico/Empresa), 'No reprocesa automáticamente facturas masivas' (pide: Portal, Nemónico y Ejemplos de ID/Comprobante), 'Error 500 o Bug bloqueante' (pide: URL, portal y pasos a reproducir).\n- *Prioridad MEDIA:* 'Modificar un reporte' (pide: código de reporte y descripción del cambio), 'Lentitud esporádica en portal' (pide: Portal, Nemónico/Empresa, pantalla/proceso).\n**Otros datos necesarios:**Antes de usar la herramienta asegurate de contar tambien con : País, Portal/Producto o Aplicacion en la que se presenta el problema y area (Infraestructura / Desarrollo). \n-Casos para Infraestructura:Descarga masiva de comprobantes, descarga de comprobantes históticos, Extender horario de un ambiente, Encendido/apagado de ambientes o instancias, lentitud inusual en los servidores o portales web, integraciones API caídas, migración de comprobantes, temas relacionados con BDD, fallo en generacion de reportes de mysatcom, incidentes de infraestructura.\n-Casos para desarrollo: Errores de software graves, reportes de bugs , requerimientos de nuevos desarrollos/funcionalidades de programación.\n**C. Departamento: 'Soporte Interno' (ID: 816030000001906033)**\n*Reglas de Prioridad*\n- *Prioridad BAJA:* 'Pruebas de equipos' (pide: descripción de equipos), 'Vacaciones' (pide: fechas correspondientes).\n- *Prioridad MEDIA:* 'Informe para Garantías', 'Configuración de software/instalación' (pide: aplicación o programa), 'Hardware asignado/clientes' o 'Problemas con Laptop' (pide: equipo/empresa y problema exacto), 'Memorias MICROS' (pide: equipo/local), 'Correos' (pide: cuenta afectada y problema exacto), 'Problemas de Acceso / VPN' (pide: usuario afectado).\n- *Prioridad ALTA:* 'Falla general de red interna', 'Reemplazo de equipo urgente' (pide: justificación operativa).\n**D. Otros Departamentos (SOLO ENVÍA LINK):**\n- Si no es posible clasificar el departamento *NO uses la herramienta de CrearCasos*.\n- En este escenario, Responde cordialmente con este único link:\nhttps://satcomla.app.n8n.cloud/form/NewTicket?session_id=1941490810\n\n\t\t\t\t\t\t  \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t   \n\n##🛠️ PROTOCOLO DE EJECUCIÓN (MUY IMPORTANTE)\n1. Analiza el requerimiento inicial del usuario y clasifícalo en uno de los departamentos ('Soporte Interno' o 'Departamento de Tecnología') y asígnale su prioridad correspondiente basándote en las reglas de arriba.\n2. Si el caso es del grupo \"C. Otros Departamentos\", aborta la creación y simplemente entrega el link.\n3. Si faltan datos obligatorios para el departamento seleccionado (Por ejemplo: Portal, ID de comprobante, nombre de equipo, cuenta de correo), *NO crees el ticket todavía*. Realiza preguntas de forma cálida, profesional y amable para recolectar esos datos faltantes.\n4. Únicamente cuando tengas toda la información completa y clara, ejecuta la herramienta CrearCasos para asentar el ticket formalmente en nuestra base, utilizando el Departamento y la Prioridad correcta. Notifica al usuario una vez que el ticket haya sido creado exitosamente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-5472,-3184],"id":"8ca4d0b8-70a8-49f1-805f-0fd72c79b06c","name":"CerebroSatcom","retryOnFail":true,"maxTries":3,"onError":"continueErrorOutput"},{"parameters":{"description":"Úsala para limpiar la conversación. Esta acción es pública y NO requiere identificación previa.","workflowId":{"__rl":true,"value":"Zh9S53e8ybChu3lG","mode":"list","cachedResultUrl":"/workflow/Zh9S53e8ybChu3lG","cachedResultName":"SUB_ReiniciaChat"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id.toString() }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5392,-2960],"id":"04e5ad2e-8e86-4486-9309-03a4b1d35e98","name":"ReiniciaChat"},{"parameters":{"description":"Úsala para obtener el historial y estado técnico de un ticket desde Zoho. Esta herramienta NO envía la respuesta final, solo te entrega los datos. Debes usar la información recibida para redactar una respuesta profesional y detallada al cliente.","workflowId":{"__rl":true,"value":"SLDMCowZXlNTCJUwiRRKM","mode":"list","cachedResultUrl":"/workflow/SLDMCowZXlNTCJUwiRRKM","cachedResultName":"SUB_ConsultaTickets"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id.toString() }}","numero_ticket":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_ticket', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"numero_ticket","displayName":"numero_ticket","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5264,-2960],"id":"8f9fe626-5efe-46ca-ac7f-d28dd326c086","name":"ConsultaTicket"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id.toString() }}"},"id":"2878ac21-497e-4a3f-8948-f3ab4c660d2b","name":"Typing…","type":"n8n-nodes-base.telegram","position":[-8048,-3520],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"fKeeBQyHOdY0eKQl","mode":"list","cachedResultUrl":"/workflow/fKeeBQyHOdY0eKQl","cachedResultName":"SUB_GetVariables"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-6704,-3328],"id":"09f533e5-57b8-4076-a5a2-2d65bf2ce181","name":"Get_Variables"},{"parameters":{"workflowId":{"__rl":true,"value":"Hpm0RBNKt8SoBJot","mode":"list","cachedResultUrl":"/workflow/Hpm0RBNKt8SoBJot","cachedResultName":"SUB_EnviaMensajeUsuario AUTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id }}","MensajeTexto":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"MensajeTexto","displayName":"MensajeTexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-4544,-3088],"id":"c54d18cd-8da2-4914-a20b-f8e212deda79","name":"MensajeUsuario"},{"parameters":{"description":"Úsala para alertar al agente humano cuando no sepas como proceder, no tengas la información solicitada, cuando un usuario nuevo se ha registrado, cuando se haya creado un nuevo ticket , cuando otra herramienta incluya una alerta para el agente humano o el chat deba ser atendido de forma urgente.","workflowId":{"__rl":true,"value":"OfF3NZ8BE2nfAxWA","mode":"list","cachedResultUrl":"/workflow/OfF3NZ8BE2nfAxWA","cachedResultName":"SUB_AlertaAgenteHumano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Get_Variables').item.json.Usuario.chat_id }}","MensajeAgenteHumano":"={{ $fromAI('Mensaje', `El motivo por el cual se alerta al agente hhumano`, 'string') }}","Criticidad":"={{ $fromAI('Criticidad', `Criticidad/Urgencia para el grupo de agentes humanos (Urgente, Alta, Media, Baja, Informativa)`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"MensajeAgenteHumano","displayName":"MensajeAgenteHumano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Criticidad","displayName":"Criticidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5136,-2960],"id":"b13b94c1-f875-47cc-bff9-167a10fcb351","name":"AlertaAgenteHumano"},{"parameters":{"workflowId":{"__rl":true,"value":"xWmYlaMZCtVElaZa","mode":"list","cachedResultUrl":"/workflow/xWmYlaMZCtVElaZa","cachedResultName":"SUB_MultimodalTelegram"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-7824,-3328],"id":"9842cd99-65fc-4b75-a010-798ae600a7c9","name":"Multimodal","onError":"continueRegularOutput"},{"parameters":{"description":"Úsala para establecer el Estado del chat en función a la  urgencia del chat o estado de animo del usuario. Si es Normal no es necesario usarlo. Úsalo solo si es Alerta o Urgencia. ","workflowId":{"__rl":true,"value":"kBhEsrQGq8XipJ7z8W5wV","mode":"list","cachedResultUrl":"/workflow/kBhEsrQGq8XipJ7z8W5wV","cachedResultName":"SUB_SetEstadoChat"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Var').item.json.chat_id }}","Estado":"={{ $fromAI('Urgencia', `Estado del chat analiando urgencia del chat o  molestia del usuario`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-5008,-2960],"id":"984f83a6-3297-4ac4-a690-78ad3f1fee99","name":"SetEstadoChat"},{"parameters":{"description":"Usa esta herramienta para crear el ticket una vez hayas identificado el departamento (Soporte Interno o Tecnología) y la prioridad (Baja, Media, Alta) basándote en la descripción del usuario y las reglas de negocio. Asegúrate de incluir en el campo descripción todos los datos recolectados (Portales, IDs, Equipos).","workflowId":{"__rl":true,"value":"0Za43PMvGaR5l8rx","mode":"list","cachedResultUrl":"/workflow/0Za43PMvGaR5l8rx","cachedResultName":"SUB_CrearCasosMCP"},"workflowInputs":{"mappingMode":"defineBelow","value":{"departamento":"={{ $fromAI('departamento', `Obten el ID del Departamento `, 'string') }}","asunto":"={{ $fromAI('asunto', `asunto para crear el ticket.`, 'string') }}","descripcion":"={{ $fromAI('descripcion', `descripcion del ticket a crear.`, 'string') }}","chat_id":"={{ $('Get_Variables').item.json.Usuario.chat_id }}","prioridad":"={{ $fromAI('prioridad', `Prioridad por defecto a menos que el usuario indique que es de prioridad alta o urgente.`, 'string') }}","EstadoFacturacion":"={{ $fromAI('EstadoFacturacion', `Está detenida la facturacion en el local?`, 'string') }}","portal":"={{ $fromAI('portal', `Portal/Porducto o aplicación de la cual está reportando el problema.`, 'string') }}","area":"={{ $fromAI('area', `Desarrllo o Infraestructura para el Departamento de Tecnología. Otros departamentos no lo requiren.`, 'string') }}","pais":"={{ $fromAI('pais', `País de la cual está reportando el problema.`, 'string') }}","clasificacion":"={{ $fromAI('clasificacion', `Selecciona entre Analisis,Incidencia en produccion,Pedido de servicio,Pregunta.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"departamento","displayName":"departamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"prioridad","displayName":"prioridad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"clasificacion","displayName":"clasificacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"EstadoFacturacion","displayName":"EstadoFacturacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"area","displayName":"area","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"portal","displayName":"portal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-4880,-2960],"id":"f79befd8-8fe4-4294-ac0e-bd1e9ff7b9ab","name":"CrearCasos"},{"parameters":{"assignments":{"assignments":[{"id":"7465daf5-aa74-4022-a8e8-9a622a34c064","name":"BufferRedis","value":"={{ $('Input').item.json.message.chat.id }}:ControlBuffer","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8048,-3328],"id":"89d845f8-9253-4dd3-aeb2-7aa1020861bb","name":"Control"},{"parameters":{"operation":"delete","key":"={{ $('Control').item.json.BufferRedis }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6928,-3328],"id":"27b585d2-66d9-4b4b-b5f2-e9c1ed3cfeda","name":"Redis","credentials":{"redis":{"id":"EgDvjVvLKVF2RHnv","name":"Redis Web Free"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Input').item.json.message.chat.id }}"},"id":"0f743e0a-38ec-4d58-98fe-7c03c132075a","name":"Typing…1","type":"n8n-nodes-base.telegram","position":[-6928,-3520],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"modelName":"models/gemini-3.1-flash-lite-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,-2960],"id":"9df2bfe0-e216-48a9-aab0-9646229595aa","name":"Google Gemini Chat Model1","retryOnFail":true,"credentials":{"googlePalmApi":{"id":"mMMNu6JhrqIAX7Q7","name":"Vertex"}}},{"parameters":{"projectId":{"__rl":true,"value":"gen-lang-client-0781304366","mode":"id"},"modelName":"gemini-3.1-flash-lite-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[-6032,-2960],"id":"3818759c-67bc-436e-b6e9-b046da9b9806","name":"Google Vertex Chat Model","credentials":{"googleApi":{"id":"P18GpvhBiPpHp3bv","name":"Google Service Account account"}}},{"parameters":{"toolDescription":"Fuente de verdad técnica para toda conversación.\n\nContexto: Si la pregunta es un seguimiento (ej: '¿Cómo lo arreglo?'), DEBES reescribirla integrando el tema previo (ej: '¿Cómo arreglo el error 500 en portal V5?').\nPaís: DEBES incluir siempre el país del usuario en la pregunta (Ecuador, Colombia, etc.).\nSATCOM: Si el usuario es de la empresa SATCOM, asegúrate de haberle preguntado el país antes si no lo especificó.","method":"POST","url":"https://satcomla.app.n8n.cloud/webhook/rag-query5","sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Pregunta que se realiza a la base vectorial`, 'string') }}"},{"name":"user_name","value":"={{ $('Input').item.json.message.chat.id }}"},{"name":"base","value":"publica"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-4752,-2960],"id":"b25394ae-3dd5-475a-8d29-30a3a3e83b31","name":"ConsultaRAG"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Input').item.json.message.chat.id }}"},"id":"575d0e0b-75e3-4b61-9570-622ec344e6c1","name":"Typing…2","type":"n8n-nodes-base.telegram","position":[-5408,-3472],"webhookId":"412793ca-7cad-4a84-acea-98debbbfa2ac","typeVersion":1.2,"credentials":{"telegramApi":{"id":"NI5ekmJ0uQSRq842","name":"Telegram account"}}},{"parameters":{"description":"OBLIGATORIO: Úsala EXCLUSIVAMENTE UNA VEZ al inicio de tu turno y EXTRICTAMENTE PARA ENVIAR UN MENSAJE DE PRIMERA RESPUESTA ANTES DE TU RESPUESTA FINAL al usuario. Tienes ESTRICTAMENTE PROHIBIDO ejecutar esta herramienta más de una vez por interacción. Una vez que la uses, avanza inmediatamente a tu siguiente paso lógico (como ConsultaRAG o ConsultaTicket) sin volver a llamarla.","workflowId":{"__rl":true,"value":"Hpm0RBNKt8SoBJot","mode":"list","cachedResultUrl":"/workflow/Hpm0RBNKt8SoBJot","cachedResultName":"SUB_EnviaMensajeUsuario AUTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Input').item.json.message.chat.id }}","MensajeTexto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('MensajeTexto', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"MensajeTexto","displayName":"MensajeTexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-8272,-2624],"id":"40a0097b-920f-4b2d-bcec-4d4c5a118f82","name":"PrimeraRespuesta"},{"parameters":{"method":"POST","url":"https://sara.mysatcomla.com/n8n/webhook/log-ai-usage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"execution_id\": \"{{ $execution.id }}\",\n  \"workflow_id\":  \"{{ $workflow.id }}\",\n  \"source\":       \"n8n:MAIN\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4544,-3280],"id":"95d38ad2-c2c9-48f7-998c-64b64c4ab484","name":"HTTP Request","onError":"continueRegularOutput"}],"connections":{"Input":{"main":[[{"node":"Control","type":"main","index":0},{"node":"Typing…","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'SUB_UPSERT_CHAT'2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"ChatHistory":{"main":[[{"node":"Historial","type":"main","index":0}]]},"Historial":{"main":[[{"node":"CerebroSatcom","type":"main","index":0},{"node":"Typing…2","type":"main","index":0}]]},"Call 'SUB_UPSERT_CHAT'2":{"main":[[{"node":"Typing…1","type":"main","index":0},{"node":"Redis","type":"main","index":0}]]},"RegistroUsuario":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"ManualRegistro":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"Var":{"main":[[{"node":"If1","type":"main","index":0}]]},"EliminaUsuario":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"CerebroSatcom":{"main":[[{"node":"MensajeUsuario","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"ReiniciaChat":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"ConsultaTicket":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"Get_Variables":{"main":[[{"node":"ChatHistory","type":"main","index":0}]]},"AlertaAgenteHumano":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"Multimodal":{"main":[[{"node":"Var","type":"main","index":0}]]},"SetEstadoChat":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"CrearCasos":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"Control":{"main":[[{"node":"Multimodal","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Get_Variables","type":"main","index":0}]]},"Typing…1":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"CerebroSatcom","type":"ai_languageModel","index":1}]]},"Google Vertex Chat Model":{"ai_languageModel":[[{"node":"CerebroSatcom","type":"ai_languageModel","index":0}]]},"ConsultaRAG":{"ai_tool":[[{"node":"CerebroSatcom","type":"ai_tool","index":0}]]},"PrimeraRespuesta":{"ai_tool":[[]]}},"authors":"Satcom  ","name":"Version e7a8762e","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-24T16:33:31.340Z","id":1588,"workflowId":"sX1vK56dW_pyFCjJn-0Ll","versionId":"e7a8762e-96a6-44c8-a535-1b8fb1ad1c4a","event":"activated","userId":"0709e413-aacf-4d4e-b6b1-6889c98e6f05"}]}}