workflows/sara-chat-v2.json
{
  "name": "SARA Chat Webhook (Gemini v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sara-chat",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "id": "8c741a90-0e50-4a73-b56f-ad30e193296e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        160
      ],
      "webhookId": "54820d77-d83e-4f01-bacd-a519dee4018f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM sara_chat_memory WHERE session_id = '{{ $json.body.sessionId || \"default\" }}' ORDER BY id DESC LIMIT 10;",
        "options": {}
      },
      "id": "a577070a-11c5-473f-9018-b54deba5927e",
      "name": "Fetch Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -256,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "e9lRiPBv5aq4p35i",
          "name": "Postgres SATCOMTI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.item.binary;\nconst image = binaryData && binaryData.image ? binaryData.image : null;\nconst body = $input.item.json.body || {};\n\nreturn [{\n  json: {\n    hasImage: !!image,\n    imageMimeType: image?.mimeType || null,\n    imageData: image?.data || null,\n    query: body.query || \"\",\n    sessionId: body.sessionId || \"unknown\",\n    userName: body.userName || \"Usuario\",\n    userEmail: body.userEmail || \"no-email@satcomla.com\",\n    chatHistory: $input.all().map(i => i.json).filter(msg => msg.role).reverse()\n  }\n}];"
      },
      "id": "d1cef7a2-d0f3-4c80-8e33-da3d1acdfb98",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-2-preview:embedContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'models/gemini-embedding-2-preview',\n  content: {\n    parts: [\n      ...($('Process Input').item.json.hasImage ? [{ inline_data: { mime_type: $('Process Input').item.json.imageMimeType, data: $('Process Input').item.json.imageData } }] : []),\n      ...($('Process Input').item.json.query ? [{ text: $('Process Input').item.json.query }] : [])\n    ]\n  },\n  outputDimensionality: 3072\n}) }}",
        "options": {}
      },
      "id": "10c27022-9932-4cec-b68b-ca2dbdb368d9",
      "name": "Multimodal Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        160
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "fTUgcTXOOgeRanPP",
          "name": "Google Gemini(PaLM) RAG PRODUCCION"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wpzfbpvtxrfyejoqjecu.supabase.co/rest/v1/rpc/match_zoho_learn_vectors_v3",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query_embedding: '[' + $json.embedding.values.join(',') + ']',\n  query_text: $('Process Input').item.json.query || \"Consulta visual\",\n  match_threshold: 0.25,\n  match_count: 8\n}) }}",
        "options": {}
      },
      "id": "03a914ee-f26e-49d4-9abc-c6e4319fce67",
      "name": "Supabase Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ishBFs85vvuSSQLX",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(i => i.json);\nconst input = $('Process Input').item.json;\n\nif (!results || results.length === 0) {\n  return [{\n    json: {\n      contexto: '',\n      images: [],\n      sourceUrl: '',\n      sinResultados: true,\n      ...input\n    }\n  }];\n}\n\nconst textChunks = results.filter(r => r.type === 'text').slice(0, 6).map(r => r.content);\nconst imageResults = results.filter(r => r.type === 'image');\nconst images = imageResults.map((r, i) => ({\n  index: i + 1,\n  filename: r.metadata?.image_filename || `imagen_${i+1}.jpg`,\n  imageUrl: r.metadata?.image_url || null,\n  base64: r.metadata?.original_content || null,\n  sourceUrl: r.metadata?.source_url || \"\"\n})).slice(0, 4);\n\nreturn [{\n  json: {\n    contexto: textChunks.join('\\n\\n---\\n\\n'),\n    images,\n    sourceUrl: results[0]?.metadata?.source_url || \"\",\n    sinResultados: false,\n    ...input\n  }\n}];"
      },
      "id": "3d2ebc3a-0ce5-47b3-a3aa-612721dd702f",
      "name": "Procesar RRF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const { contexto, images, query, hasImage, imageData, imageMimeType, chatHistory, userName } = $json;\n\nconst imageListForPrompt = images.length > 0\n  ? `\\n\\nIMAGENES DISPONIBLES DEL MANUAL:\\n${images.map(img => `  [${img.index}] ${img.filename}`).join('\\n')}\\nSi alguna imagen es relevante para tu respuesta, incluyela con [ENVIAR_IMAGENES: N] donde N son los indices separados por coma.`\n  : '';\n\nconst systemInstruction = `Eres SARA, una asistente inteligente experta en los manuales de la empresa.\nTu objetivo es ser conversacional, amable y precisa.\n\nEstás hablando con ${userName || 'un usuario'}.\n\nREGLAS DE ORO:\n1. Si el usuario te envia una imagen, analizala primero. El contexto del RAG puede contener informacion sobre esa imagen.\n2. Solo menciona la fuente del manual cuando tu respuesta se basa directamente en la documentacion.\n3. Si es charla casual (hola, gracias, etc.), responde de forma natural sin citar manuales.\n4. Si hay imagenes disponibles del manual que complementen tu respuesta, incluyelas usando el marcador [ENVIAR_IMAGENES: N] con los indices correspondientes. Solo hazlo si realmente aportan valor visual.\n5. No inventes informacion. Si no encuentras la respuesta en el contexto, dilo honestamente.`;\n\nlet contents = [];\nchatHistory.forEach(msg => {\n  if (msg.content) {\n    contents.push({ role: msg.role === 'assistant' ? 'model' : 'user', parts: [{ text: msg.content }] });\n  }\n});\n\nlet userParts = [];\nif (hasImage) {\n  userParts.push({ inline_data: { mime_type: imageMimeType, data: imageData } });\n}\n\nlet fullPrompt = query;\nif (contexto) {\n  fullPrompt = `CONTEXTO DEL MANUAL:\\n${contexto}${imageListForPrompt}\\n\\nCONSULTA: ${query}`;\n}\nuserParts.push({ text: fullPrompt });\n\ncontents.push({ role: 'user', parts: userParts });\n\nreturn [{\n  json: {\n    gemini_body: {\n      system_instruction: { parts: [{ text: systemInstruction }] },\n      contents,\n      generationConfig: { temperature: 0.2, maxOutputTokens: 2048 }\n    },\n    images,\n    sourceUrl: $json.sourceUrl\n  }\n}];"
      },
      "id": "b10974e3-a794-497b-bf31-fccfd36b7d8e",
      "name": "Preparar Body LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.gemini_body) }}",
        "options": {}
      },
      "id": "2e57090e-e435-446c-8fa0-5797d950b194",
      "name": "Gemini 2.0 Flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        160
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "fTUgcTXOOgeRanPP",
          "name": "Google Gemini(PaLM) RAG PRODUCCION"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener images y sourceUrl del nodo correcto\nconst images = $('Preparar Body LLM').item.json.images || [];\nconst sourceUrl = $('Preparar Body LLM').item.json.sourceUrl || '';\nconst sessionId = $('Process Input').item.json.sessionId;\nconst candidates = $json.candidates;\n\nif (!candidates || candidates.length === 0) {\n  return [{ json: { response: 'Error de IA', images: [], sources: [], sessionId } }];\n}\n\nlet text = candidates[0].content.parts[0].text;\n\n// Parsear marcadores [ENVIAR_IMAGENES: 1,2,3]\nconst imageMatch = text.match(/\\[ENVIAR_IMAGENES:\\s*([\\d,\\s]+)\\]/i);\nlet selectedImages = [];\nif (imageMatch && images.length) {\n  const indices = imageMatch[1].split(',').map(n => parseInt(n.trim())).filter(n => !isNaN(n));\n  selectedImages = indices.map(i => images[i - 1]).filter(Boolean);\n}\n\n// Limpiar marcadores del texto\nlet finalResponse = text.replace(/\\[ENVIAR_IMAGENES:[\\d,\\s]+\\]/gi, '').trim();\n\n// Determinar si mostrar fuentes\nconst searchResults = $('Supabase Search').all();\nconst isDocResponse = searchResults.length > 0 && finalResponse.length > 50 && sourceUrl;\n\nreturn [{\n  json: {\n    response: finalResponse,\n    sessionId,\n    images: selectedImages.map(img => ({\n      url: img.imageUrl || null,\n      base64: img.base64 || null,\n      filename: img.filename || null,\n      sourceUrl: img.sourceUrl || ''\n    })),\n    sources: isDocResponse ? [{ url: sourceUrl, title: 'Ver manual original' }] : []\n  }\n}];"
      },
      "id": "112a03e3-1f01-4fdc-b62f-444fc83cfbef",
      "name": "Procesar Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `INSERT INTO sara_chat_memory (session_id, role, content, user_name, user_email) VALUES ('${$json.sessionId}', 'user', '${$('Process Input').item.json.query?.replace(/'/g, \"''\") || \"[Imagen]\"}', '${$('Process Input').item.json.userName}', '${$('Process Input').item.json.userEmail}'), ('${$json.sessionId}', 'assistant', '${$json.response.replace(/'/g, \"''\")}', '${$('Process Input').item.json.userName}', '${$('Process Input').item.json.userEmail}');` }}",
        "options": {}
      },
      "id": "08830b2f-5e45-4837-8574-3743ed78efd7",
      "name": "Save Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1360,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "e9lRiPBv5aq4p35i",
          "name": "Postgres SATCOMTI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "0c397ba0-87b4-4e4d-867d-19e4397d15c2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1552,
        160
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Memory": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Multimodal Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multimodal Embedding": {
      "main": [
        [
          {
            "node": "Supabase Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Search": {
      "main": [
        [
          {
            "node": "Procesar RRF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar RRF": {
      "main": [
        [
          {
            "node": "Preparar Body LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Body LLM": {
      "main": [
        [
          {
            "node": "Gemini 2.0 Flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "main": [
        [
          {
            "node": "Procesar Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Output": {
      "main": [
        [
          {
            "node": "Save Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true,
    "instanceId": "7a4c9fd8836bc2d6ba5a64e1f0b740983e9d5ef18d4a53a468a5b9bfbc0d9885"
  }
}
