workflows/sara-chat-orchestrator.json
{
  "name": "SARA Chat Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sara-chat",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "id": "8c741a90-0e50-4a73-b56f-ad30e193296e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        160
      ],
      "webhookId": "54820d77-d83e-4f01-bacd-a519dee4018f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM sara_chat_memory WHERE session_id = '{{ $json.body.sessionId || \"default\" }}' ORDER BY id DESC LIMIT 10;",
        "options": {}
      },
      "id": "a577070a-11c5-473f-9018-b54deba5927e",
      "name": "Fetch Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -256,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "e9lRiPBv5aq4p35i",
          "name": "Postgres SATCOMTI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.item.binary;\nconst image = binaryData && binaryData.image ? binaryData.image : null;\nconst body = $input.item.json.body || {};\n\n// Obtener historial de mensajes devueltos por postgres\nconst rawHistory = $input.all().map(i => i.json);\n// PostgreSQL puede devolver arrays de records. Filtramos los validos y aseguramos orden\nconst chatHistory = rawHistory.filter(msg => msg.role).reverse();\n\nreturn [{\n  json: {\n    query: body.query || \"\",\n    base: body.base || \"privada\",\n    user_name: body.userName || body.user_name || \"Usuario\",\n    user_email: body.userEmail || body.user_email || \"no-email@satcomla.com\",\n    session_id: body.sessionId || body.session_id || \"unknown\",\n    image_base64: image ? image.data : null,\n    image_mime_type: image ? image.mimeType : null,\n    chat_history: chatHistory\n  }\n}];"
      },
      "id": "d1cef7a2-d0f3-4c80-8e33-da3d1acdfb98",
      "name": "Map Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://satcomla.app.n8n.cloud/webhook/rag-query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "10c27022-9932-4cec-b68b-ca2dbdb368d9",
      "name": "Call RAG Global",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ `INSERT INTO sara_chat_memory (session_id, role, content, user_name, user_email) VALUES ('${$('Map Parameters').item.json.session_id}', 'user', '${$('Map Parameters').item.json.query?.replace(/'/g, \"''\") || \"[Imagen]\"}', '${$('Map Parameters').item.json.user_name}', '${$('Map Parameters').item.json.user_email}'), ('${$('Map Parameters').item.json.session_id}', 'assistant', '${$json.response ? $json.response.replace(/'/g, \"''\") : \"Error en respuesta\"}', '${$('Map Parameters').item.json.user_name}', '${$('Map Parameters').item.json.user_email}');` }}",
        "options": {}
      },
      "id": "08830b2f-5e45-4837-8574-3743ed78efd7",
      "name": "Save Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        352,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "e9lRiPBv5aq4p35i",
          "name": "Postgres SATCOMTI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Call RAG Global').item.json) }}",
        "options": {}
      },
      "id": "0c397ba0-87b4-4e4d-867d-19e4397d15c2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        160
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Memory": {
      "main": [
        [
          {
            "node": "Map Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Parameters": {
      "main": [
        [
          {
            "node": "Call RAG Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RAG Global": {
      "main": [
        [
          {
            "node": "Save Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true,
    "instanceId": "7a4c9fd8836bc2d6ba5a64e1f0b740983e9d5ef18d4a53a468a5b9bfbc0d9885"
  }
}
